/*! @import "main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	/* user-select: none; */
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * fix for micon icon font
 */

.col [class^="mi-"],
.col [class*=" mi-"] {
	font-family: "micon";
}

.col [class^="fa-"],
.col [class*=" fa-"] {
	font-family: "fontAwesome";
}

.col [class^="mi-"],
.col [class*=" mi-"],
.col [class^="fa-"],
.col [class*=" fa-"] {
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
}

/* .ui-sidebar .mi-CellPhone:before {
	display: inline-block;
	content: "";
	height: 1.333rem;
	width: 1.333rem;
	font-size: 1.333rem;
	line-height: 3.200rem;
	color: transparent;
	background-image: url(../img/fa-qrcode-96x96.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.no-svg .ui-sidebar .mi-CellPhone:before {
	background-image: url(../img/fa-qrcode-96x96.png);
} */

/*!
 * remove this to get default home icon
 */

.ui-sidebar .mi-Home:before,
.ui-sidebar .es-mi-Home:before {
	content: "";
}

.ui-sidebar .mi-Home,
.ui-sidebar .es-mi-Home {
	display: block;
	height: 3.200rem;
	width: 3.200rem;
	color: transparent;
	background-color: transparent;
	background-image: url(../img/logo-96x96.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.no-svg .ui-sidebar .mi-Home:before {
	background-image: url(../img/logo-96x96.png);
}

/* .ui-sidebar .mi-Home:before,
.ui-sidebar .es-mi-Home:before {
	font-family: "micon";
	font-family: "eaststreet";
	content: "\E900";
	font-size: 3.200rem;
	background-color: $AccentColor;
} */

.col .btn-larger .mi {
	vertical-align: top;
}

/*!
 * fixes to grid
 */

.col .column,
.col .columns {
	padding-right: 0.667rem;
	padding-left: 0.667rem;
}

/*!
 * layout
 */

.page {
	width: 100%;
	height: 100%;
	background-color: $color-hex-page-bg;
	position: relative;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
	transition: left 0.2s linear, opacity 0.2s ease;
}

.page img {
	display: block;
}

.container {
	width: calc(100% - 3.200rem);
	min-height: calc(100% - 3.200rem);
	background-color: #FFFFFF;
	position: relative;
	top: 0;
	left: 3.200rem;
	transition: left 0.2s linear;
}

@media handheld, only screen and (max-width: 360px) {
	.container {
		width: 100%;
		left: 0;
	}
}

.page.is-active-ui-sidepanel .container {
	left: 0;
}

.card-wrap {
	width: 100%;
	height: 100%;
}

.col {
	margin: 0 auto;
}

/*!
 * fixes to typeboost1520.css
 * pxtoem.com
 * 6px	0.400em	40.0%	5pt
 * 7px	0.467em	46.7%	5pt
 * 8px	0.533em	53.3%	6pt
 * 9px	0.600em	60.0%	7pt
 * 10px	0.667em	66.7%	8pt
 * 11px	0.733em	73.3%	8pt
 * 12px	0.800em	80.0%	9pt
 * 13px	0.867em	86.7%	10pt
 * 14px	0.933em	93.3%	11pt
 * 15px	1.000em	100.0%	11pt
 * 16px	1.067em	106.7%	12pt
 * 17px	1.133em	113.3%	13pt
 * 18px	1.200em	120.0%	14pt
 * 19px	1.267em	126.7%	14pt
 * 20px	1.333em	133.3%	15pt
 * 21px	1.400em	140.0%	16pt
 * 22px	1.467em	146.7%	17pt
 * 23px	1.533em	153.3%	17pt
 * 24px	1.600em	160.0%	18pt
 */

#h1 {
	margin-top: 0;
}

.col h2.aside-heading {
	margin-top: 1.333rem;
}

@media only screen and (min-width:1024px) {
	.col h2.aside-heading {
		margin-top: 0;
	}
}

.col h2 a,
.col h2 a:focus,
.col h2 a:hover,
.col h2 a:active,
.col h2 a:visited {
	color: inherit;
}

.col h2 + div form p:first-child {
	margin-top: 0;
}

.col a {
	font-weight: inherit;
	color: $color-hex-link;
}

.col a:focus,
.col a:hover,
.col a:active {
	color: $color-hex-hover-link;
}

.col a:visited {
	color: $color-hex-visited-link;
}

.col p.subhead {
	font-size: 1.200rem;
	line-height: 1.600rem;
}

.col dl dt a {
	color: inherit;
	border-bottom-color: inherit;
	border-bottom-style: solid;
	border-bottom-width: 0.067rem;
}

.col dl dt a:focus,
.col dl dt a:hover,
.col dl dt a:active {
	color: inherit;
}

.col img,
.col svg,
.col canvas,
.col video,
.col textarea {
	width: 100%;
}

.col img.inline {
	width: auto;
}

.col img.data-src-img,
.col img[data-src] {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.col img.data-src-img,
.col img[data-src],
.col iframe.data-src-iframe,
.col iframe[data-src] {
	background-color: $LeftNavBarLight;
}

.col img.data-src-img.is-active,
.col img[data-src].is-active {
	opacity: 1;
}

.col figcaption {
	font-size: 0.800rem;
	line-height: 1.067rem;
	margin-top: 0.267rem;
}

.col figcaption a,
.col figcaption a:focus,
.col figcaption a:hover,
.col figcaption a:active,
.col figcaption a:visited {
	color: inherit;
}

.col figcaption p {
	font-size: inherit;
	line-height: inherit;
}

.col img,
.col svg,
.col canvas {
	height: auto;
}

.col video,
.col svg {
	display: block;
	padding: 0;
}

.col canvas {
	vertical-align: bottom;
}

.col .video-wrapper {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.col .video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.col .soundcloud-wrapper iframe {
	display:block;
	width: 100%;
	height: 166px;
}

.holder-chapters-select + canvas {
	margin-top: 1.333rem;
}

.col table.respond {
	width: 100%;
}

.col table {
	border: none;
	border-top-width: 0.067rem;
	border-top-style: solid;
	border-top-color: $color-hex-divider;
	border-right-width: 0.067rem;
	border-right-style: solid;
	border-right-color: $color-hex-divider;
	border-left-width: 0.067rem;
	border-left-style: solid;
	border-left-color: $color-hex-divider;
}

.col table th {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td.with-img-only {
	padding: 0.533rem;
}

@media screen and (max-width: 640px) {
	.col table.respond {
		border: none;
	}

	.col table.respond td {
		display: block;
	}

	.col table.respond,
	.col table.respond tr,
	.col table.respond td {
		width: 100%;
		box-sizing: border-box;
	}

	.col table.respond tr {
		float: left;
		position: relative;
		border: 0.067rem solid $color-hex-divider;
		border-bottom: none;
		margin-bottom: 1.333rem;
	}

	.col table.respond tr:last-child {
		margin-bottom: 0;
	}

	.col table.respond thead,
	.col table.respond tfoot {
		display: none;
	}

	.col table.respond td::before {
		display: block;
		float: left;
		content: attr(data-label);
		font-weight: bold;
		text-align: right;
		padding-right: 0.533rem;
	}
}

.col .highlight {
	color: $color-hex-highlight;
}

.col .phonetic {
	font-family: "Roboto Mono", $font-family-local-monospace;
}

/*!
 * buttons
 */

.col div + .holder-bottom-navigation,
.holder-bottom-navigation:first-child {
	margin-top: 1.333rem;
}

.col .btn-larger,
.col a.btn-larger {
	height: 2.400rem;
	font-size: 0.933rem;
	font-weight: 400;
	padding-right: 0.733rem;
	padding-left: 0.733rem;
}

.col a.btn-larger {
	display: inline-block;
	font-family: inherit;
	line-height: 2.267rem;
	text-align: center;
	text-decoration: none;
	border: 0.067rem solid $TitleBarAndAppBarDark;
}

.col a.btn-larger i.fa,
.col a.btn-larger i.mi,
.col a.btn-larger i.mdi,
.col a.btn-larger i.material-icons,
.mdi {
	vertical-align: bottom;
}

.mdi.mdi-menu {
	font-size: 24px;
}
	font-size: 0.800rem;
	line-height: 2.400rem;
}

.col .btn-primary,
.col .btn-primary:focus,
.col a.btn-primary,
.col a.btn-primary:focus {
	color: #FFFFFF;
	background-color: $TitleBarAndAppBarDark;
	border-color: $TitleBarAndAppBarDark;
}

.col .btn-primary:hover,
.col .btn-primary:active,
.col a.btn-primary:hover,
.col a.btn-primary:active {
	background-color: #000000;
	border-color: #000000;
}

.col .btn-secondary,
.col .btn-secondary:focus,
.col a.btn-secondary,
.col a.btn-secondary:focus {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonBackground;
}

.col .btn-secondary:hover,
.col .btn-secondary:active,
.col a.btn-secondary:hover,
.col a.btn-secondary:active {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonOutline;
}

.col .btn-link,
.col .btn-link:focus,
.col a.btn-link,
.col a.btn-link:focus {
	color: $ButtonText;
	background-color: transparent;
	border-color: $ButtonBackground;
}

.col .btn-link:hover,
.col .btn-link:active,
.col a.btn-link:hover,
.col a.btn-link:active {
	color: $ButtonText;
	background-color: $ButtonBackground;
	border-color: $ButtonOutline;
}

/*!
 * vcard block
 */

.col .vcard {
	display: none;
	font-size: 0.867rem;
	background-color: $LeftNavBarLight;
	padding: 0.533rem 0.800rem;
}

.vcard .category {
	display: none;
}

/*!
 * aside block
 */

.col .aside {
	display: block;
	background-color: $LeftNavBarLight;
	padding: 1.333rem 1.333rem;
}

.col .aside *:first-child {
	margin-top: 0;
}

.col .aside *:last-child {
	margin-bottom: 0;
}

.col .aside p {
	font-size: 0.933rem;
	line-height: 1.333rem;
}

.col .aside h2 {
	font-size: 1.133rem;
	line-height: 1.600rem;
}

/* .col .aside h2 a,
.col .aside p a {
	color: inherit;
	text-decoration: none;
} */

.col p + .aside {
	margin-top: 1.333rem;
}

/*!
 * fix width for hint.css
 * where hint class sets display inline block
 */

[class^="hint--"],
[class*=" hint--"] {
	display: block /* !important */;
}

/*!
 * pages selecto
 */

.holder-chapters-select {
	display: block;
	width: 100%;
	text-align: left;
}

.holder-chapters-select .chapters-select {
	display: inline-block;
	width: 100%;
	max-width: 18.133rem;
	height: 2.400rem;
	font-family: inherit;
	font-size: 0.867rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
	background-color: $LeftNavBarLight;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	margin: 0;
	padding: 0 0 0 0.267rem;
}

.holder-chapters-select .chapters-select:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #000;
}

.holder-chapters-select .chapters-select::-ms-expand {
	display: none;
}

.holder-chapters-select .chapters-select::-ms-value {
  background: none;
	color: inherit;
}

.holder-chapters-select .chapters-select optgroup {
	font-style: normal;
	padding-left: 0.267rem;
}

/*!
 * fix select border for electron and nw
 */

.holder-chapters-select .chapters-select,
.holder-chapters-select .chapters-select:focus,
.holder-chapters-select .chapters-select:hover,
.holder-chapters-select .chapters-select:active {
	border: 0.067rem solid $LeftNavBarLight;
}

/*!
 * expanding layer
 */

.col .btn-expand-hidden-layer {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.col .btn-expand-hidden-layer:after {
	/* font-family: "micon"; */
	font-family: "eaststreet";
	content: "\EA8E";
	font-size: 0.400em;
	position: relative;
	bottom: 0.467em;
	margin-left: 0.467em;
}

.col .btn-expand-hidden-layer.is-active:after {
	font-family: "micon";
	font-family: "eaststreet";
	content: "\EA97";
}

.col .holder-hidden-layer {
	max-height: 100%;
	position: relative;
	transition: all 0.2s ease-out;
	overflow-y: hidden;
}

.js .col .holder-hidden-layer {
	max-height: 0;
	overflow: hidden;
}

.col .holder-hidden-layer.is-active,
.legacy .col .holder-hidden-layer {
	max-height: 100%;
	overflow-y: hidden;
}

.col .holder-btn-expand-hidden-layer + .holder-hidden-layer.is-active,
.legacy .col .holder-btn-expand-hidden-layer + .holder-hidden-layer {
	margin-top: 0.533rem;
}

.col .holder-hidden-layer h3:first-child,
.col .holder-hidden-layer p:first-child,
.col .holder-hidden-layer table:first-child,
.col .holder-hidden-layer ol:first-child,
.col .holder-hidden-layer ul:first-child {
	margin-top: 0;
}

.col .holder-hidden-layer p:last-child,
.col .holder-hidden-layer table:last-child,
.col .holder-hidden-layer ol:last-child,
.col .holder-hidden-layer ul:last-child {
	margin-bottom: 0;
}

/*!
 * ui-panel-top
 */

.ui-panel-top {
	width: 100%;
	height: 3.200rem;
	background-color: $color-hex-ui-bar-bg;
}

/*!
 * ui-sidepanel
 * modified github.com/kudosagency/simplest-sidebar
 */

.ui-sidepanel {
	width: 18.133rem;
	height: 100%;
	position: fixed;
	top: 0;
	left: -14.933rem;
	background-color: $color-hex-darker-ui-bar-bg;
	transition: left 0.2s linear;
	overflow-y: auto;
	margin: 0;
}

@media handheld, only screen and (max-width: 360px) {
	.ui-sidepanel {
		left: -18.133rem;
	}
}

.page.is-active-ui-sidepanel .ui-sidepanel {
	left: 0;
}

.page.is-active-ui-sidepanel {
	left: 18.133rem;
}

.page.is-active-ui-sidepanel .page-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color-rgba-page-overlay-bg;
	transition: background-color 0.2s ease;
}

.btn-toggle-ui-sidepanel {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 3.200rem;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	transition: left 0.2s linear, background-color 0.2s ease;
}

@media handheld, only screen and (max-width: 360px) {
	.btn-toggle-ui-sidepanel {
		left: 0;
	}
}

.page.is-active-ui-sidepanel .btn-toggle-ui-sidepanel {
	left: 18.133rem;
}

.btn-toggle-ui-sidepanel:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

.page.is-active-ui-sidepanel .btn-toggle-ui-sidepanel,
/* .btn-toggle-ui-sidepanel:focus, */
.btn-toggle-ui-sidepanel:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.page.is-active-ui-sidepanel .btn-toggle-ui-sidepanel.mi-GlobalNavButton:before,
.page.is-active-ui-sidepanel .btn-toggle-ui-sidepanel.es-mi-GlobalNavButton:before {
	/* font-family: "micon"; */
	font-family: "eaststreet";
	content: "\EA80";
}

.ui-sidepanel-list {
	margin: 0;
	padding: 0;
}

.ui-sidepanel-list li {
	height: 3.200rem;
	line-height: 3.200rem;
	list-style-type: none;
}

.ui-sidepanel-list a {
	display: block;
	width: 100%;
	font-size: 0.867rem;
	text-decoration: none;
	color: #FFFFFF;
	background-color: transparent;
	transition: background-color 0.2s ease;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.ui-sidepanel-list a:hover {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

.ui-sidepanel-list a.is-active {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

/* .ui-sidepanel-list a:focus, */
.ui-sidepanel-list a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * ui-menumore
 */

.ui-menumore {
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 18.133rem;
	max-height: 16.000rem;
	position: fixed;
	top: 3.200rem;
	left: 6.400rem;
	overflow-y: auto;
	background-color: $LeftNavBarLight;
	border: 0.067rem solid $AccentColor;
	transition: left 0.2s linear, visibility 0s, opacity 0.2s ease;
	margin: 0;
}

@media handheld, only screen and (max-width: 360px) {
	.ui-menumore {
		left: 3.200rem;
	}
}

.page.is-active-ui-menumore .ui-menumore {
	visibility: visible;
	opacity: 1;
}

.btn-toggle-ui-menumore {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 6.400rem;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	transition: left 0.2s linear, background-color 0.2s ease;
}

@media handheld, only screen and (max-width: 360px) {
	.btn-toggle-ui-menumore {
		left: 3.200rem;
	}
}

.btn-toggle-ui-menumore:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .page.is-active-ui-menumore .btn-toggle-ui-menumore,
.btn-toggle-ui-menumore:focus, */
.btn-toggle-ui-menumore:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.page.is-active-ui-sidepanel .btn-toggle-ui-menumore {
	left: 21.333rem;
}

.ui-menumore-list {
	margin: 0;
	padding: 0;
}

.ui-menumore-list li {
	height: 3.200rem;
	list-style-type: none;
	line-height: 3.200rem;
	overflow: hidden;
}

.ui-menumore-list a {
	display: block;
	width: 100%;
	font-size: 0.867rem;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	transition: background-color 0.2s ease;
	overflow-x: hidden;
	white-space: nowrap;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.ui-menumore-list a:hover {
	background-color: $TitleBarAndAppBarLight;
}

/* .ui-menumore-list a:focus, */
.ui-menumore-list a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * ui-sidebar
 */

.ui-sidebar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 3.200rem;
	height: 100%;
	background-color: $color-hex-dark-ui-bar-bg;
	transition: left 0.2s linear;
	overflow-y: hidden;
}

@media handheld, only screen and (max-width: 360px) {
	.ui-sidebar {
		left: -3.200rem;
	}
}

.page.is-active-ui-sidepanel .ui-sidebar {
	left: -3.200rem;
}

.ui-sidebar a {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: inherit;
	transition: background-color 0.2s ease;
}

.ui-sidebar a:hover {
	background-color: $color-hex-dark-ui-bar-active-item-bg;
}

/* .ui-sidebar a:focus, */
.ui-sidebar a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.ui-sidebar a.mi {
	font-size: 1.333rem;
}

.ui-sidebar a.fa {
	font-size: 1.667rem;
}

.ui-sidebar a.es {
	font-size: 1.333rem;
}

/*!
 * location qr code
 */

.holder-location-qrcode {
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 9.600rem;
	height: 9.600rem;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	text-align: left;
	background-color: #FFFFFF;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: left 0.2s linear, visibility 0s, opacity 0.2s ease;
}

@media handheld, only screen and (max-width: 360px) {
	.holder-location-qrcode {
		left: 0;
	}
}

.page.is-active-holder-location-qrcode .holder-location-qrcode {
	visibility: visible;
	opacity: 1;
}

.page.is-active-ui-sidepanel .holder-location-qrcode {
	left: 18.133rem;
}

@media handheld, only screen and (max-width: 1024px) {
	.ui-sidebar .btn-toggle-holder-location-qrcode {
		display: none;
	}
}

.holder-location-qrcode .qr-code-img,
.holder-location-qrcode img {
	display: block;
	width: 9.600rem;
	height: 9.600rem;
	background-color: transparent;
	background-size: 9.600rem 9.600rem;
	border: 0;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}

/*!
 * search form
 */

.holder-search-form {
	display: inline-block;
	position: fixed;
	top: 0.400rem;
	right: 0.400rem;
}

.holder-search-form input[type^=text],
.holder-search-form input[type^=search] {
	display: inline-block;
	width: 9.600rem;
	font-family: inherit;
	font-size: 0.933rem;
	line-height: 1.133rem;
	color: inherit;
	border-color: transparent;
	border-style: solid;
	border-width: 0.067rem;
	transition: width 0.2s linear;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	padding: 0.533rem 2.400rem 0.533rem 0.533rem;
}

.holder-search-form input[type^=text]:focus,
.holder-search-form input[type^=text]:active,
.holder-search-form input[type^=search]:focus,
.holder-search-form input[type^=search]:active {
	width: 18.133rem;
	background-color: $color-hex-hover-ui-icon-bg;
	border-color: transparent;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

@media only screen and (max-width: 480px) {
	.holder-search-form input[type^=text]:focus,
	.holder-search-form input[type^=text]:active,
	.holder-search-form input[type^=search]:focus,
	.holder-search-form input[type^=search]:active {
		width: 12.800rem;
	}
}

.holder-search-form button[type^=submit] {
	display: inline-block;
	width: 2.400rem;
	height: 2.400rem;
	position: fixed;
	top: 0.400rem;
	right: 0.400rem;
	font-size: 0;
	line-height: 0;
	color: $color-hex-gray-text;
	background-color: transparent;
	border: 0.067rem solid transparent;
	cursor: pointer;
	padding: 1.133rem;
}

.holder-search-form button[type^=submit]:after {
	position: absolute;
	top: 0;
	right: 0.600rem;
	/* font-family: "micon"; */
	font-family: "eaststreet";
	content: "\ECEA";
	font-size: 1.067rem;
	line-height: 2.267rem;
}

/* .holder-search-form button[type^=submit]:focus, */
.holder-search-form button[type^=submit]:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
	border: 0.067rem solid $AccentColor;
}

.holder-search-text:before,
.ya-site-form:before {
	width: 2.400rem;
	position: absolute;
	top: 0;
	right: 0;
	/* font-family: "micon"; */
	font-family: "eaststreet";
	content: "\ECEA";
	font-size: 1.067rem;
	padding: 0.533rem 0.667rem;
}

.holder-search-form input[type^=text],
.holder-search-form input[type^=search] {
	display: inline-block;
	background-color: $color-hex-ui-bar-bg;
}

/*!
 * fix for yandex search
 * site.yandex.net/v2.0/js/suggest.js
 */

.holder-search-form table td {
	padding: 0;
}

.ya-site-form.ya-site-form_inited_no {
	visibility: hidden;
}

.ya-page_js_yes .ya-site-form_inited_no,
.ya-site-form__submit {
	display: none;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

/* .ya-share2 {
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
} */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

/*!
 * social buttons
 */

.holder-share-buttons {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	line-height: 3.200rem;
	background-color: #FFFFFF;
	transition: left 0.2s linear, visibility 0s, opacity 0.2s ease;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
}

@media handheld, only screen and (max-width: 360px) {
	.holder-share-buttons {
		left: 0;
	}
}

.page.is-active-holder-share-buttons .holder-share-buttons {
	visibility: visible;
	opacity: 1;
}

/*!
 * holder-vk-like
 */

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	line-height: 0;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
	z-index: 1;
}

@media handheld, only screen and (max-width: 360px) {
	.holder-vk-like {
		left: 0;
	}
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

.page.is-active-holder-vk-like .holder-vk-like {
	visibility: visible;
	opacity: 1;
}

.page.is-active-ui-sidepanel .holder-vk-like {
	left: 24.800rem;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */

.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.ui-totop:before {
	/* font-family: "micon"; */
	font-family: "eaststreet";
	content: "\ed7d";
}

.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}

.ui-totop:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .ui-totop:focus, */
.ui-totop:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * debug grid
 */

.debug:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: transparent;
	/* background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNCA0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0IDQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9Im5vbmUiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz48cG9seWdvbiBvcGFjaXR5PSIwLjUiIGZpbGw9IiNGRjQxNDEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgICIgcG9pbnRzPSIzLDAgMywzIDAsMyAwLDQgNCw0IDQsMyA0LDAgIi8+PC9zdmc+); */
	/* background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IGZpbGw9Im5vbmUiIHdpZHRoPSI4IiBoZWlnaHQ9IjgiLz48cG9seWdvbiBvcGFjaXR5PSIwLjUiIGZpbGw9IiNGRjgxODEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgICIgcG9pbnRzPSI3LDAgNyw3IDAsNyAwLDggOCw4IDgsNyA4LDAgIi8+PC9zdmc+); */
	background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent 7px, rgba(241, 68, 68, 0.5) 7px, rgba(241, 68, 68, 0.5) 8px);
	background-size: 8px 8px;
	background-position: 0 0;
	background-repeat: repeat;
	pointer-events: none;
}

/* .debug .row:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(241, 68, 68, 0.05);
} */

.debug .column:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(241, 68, 68, 0.1);
	pointer-events: none;
}

/*!
 * @see {@link https://github.com/lukehaas/css-loaders}
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */

.is-active-loading-spinner .loading-spinner {
	font-size: 0.500em;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5.000em 0 0 -5.000em;
	text-indent: -9999em;
	border-top: 1.000em solid $color-rgba-loading-spinner-bg;
	border-right: 1.000em solid $color-rgba-loading-spinner-bg;
	border-bottom: 1.000em solid $color-rgba-loading-spinner-bg;
	border-left: 1.000em solid $color-rgba-loading-spinner-text;
	transform: translateZ(0);
	animation: load8 1.1s infinite linear;
	z-index: 3;
}

.is-active-loading-spinner .loading-spinner,
.is-active-loading-spinner .loading-spinner:after {
	border-radius: 50%;
	width: 10.000em;
	height: 10.000em;
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*!
 * img lightbox
 */

.img-lightbox-container {
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color-rgba-page-overlay-bg;
}

.img-lightbox-container img {
	display: block;
	opacity: 0;
	max-width: 90%;
	max-height: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	border: 0;
	box-shadow: 0.267rem 0.267rem 0.267rem 0 $color-rgba-lightbox-shadow;
	vertical-align: middle;
	user-select: none;
	cursor: zoom-out;
	margin: auto;
}

/*!
 * reset for animate.css
 * daneden.github.io/animate.css/
 */

.img-lightbox-container.animated,
.img-lightbox-container img.animated {
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

/*!
 * notibar
 * @see {@link https://github.com/duyetdev/notibar.js}
 */

.notibar {
	display: block;
	opacity : 0;
	width: 100%;
	min-height: 3.200rem;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 0.933rem;
	line-height: 1.333rem;
	text-align : center;
	word-break : break-word;
	color: #FFFFFF;
	background-color: $color-rgba-notifier42-notice;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	padding: 0.933rem 3.200rem;
	margin : 0 auto;
}

.notibar .close {
	width: 3.200rem;
	height: 3.200rem;
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 0.800rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	margin-top: -1.600rem;
}

.notibar .close:before {
	/* font-family: "micon"; */
	font-family: "eaststreet";
	content: "\ea80";
}

.notibar div.message {
	text-align: center;
}

.notibar.animated {
	animation-duration: 0.2s;
	animation-fill-mode: both;
}

/*!
 * Yandex map container
 * @see {@link https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/}
 * @see {@link https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css}
 */

.ymap {
	width: 100%;
	min-height: 100%;
}

.holder-ymap {
	position: relative;
}

.holder-ymap.is-active:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 56.25%;
}

.holder-ymap > .ymap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*!
 * copyright
 */

.card-wrap.card-wrap--copyright {
	color: inherit;
	background-color: $LeftNavBarLight;
	padding: 1.000rem;
	margin-top: 1.333rem;
}

.card-wrap.card-wrap--copyright a {
	color: inherit;
	text-decoration: underline;
}

.card-wrap .contacts-buttons {
	white-space: nowrap;
}

.office-hours,
.office-address,
.office-qrcode {
	font-size: 0.750rem;
	line-height: 0.938rem;
}

img.office-qrcode-img {
	width: 7.500rem;
}

.contacts-buttons--facebook,
.contacts-buttons--vk,
.contacts-buttons--instagram,
.contacts-buttons--phone,
.contacts-buttons--map,
.contacts-buttons--web {
	min-width: 1.500rem;
	min-height: 1.500rem;
}

.contacts-buttons--facebook:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--vk:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M20.8,7.74C20.93,7.32 20.8,7 20.18,7H18.16C17.64,7 17.41,7.27 17.28,7.57C17.28,7.57 16.25,10.08 14.79,11.72C14.31,12.19 14.1,12.34 13.84,12.34C13.71,12.34 13.5,12.19 13.5,11.76V7.74C13.5,7.23 13.38,7 12.95,7H9.76C9.44,7 9.25,7.24 9.25,7.47C9.25,7.95 10,8.07 10.05,9.44V12.42C10.05,13.08 9.93,13.2 9.68,13.2C9,13.2 7.32,10.67 6.33,7.79C6.13,7.23 5.94,7 5.42,7H3.39C2.82,7 2.7,7.27 2.7,7.57C2.7,8.11 3.39,10.77 5.9,14.29C7.57,16.7 9.93,18 12.08,18C13.37,18 13.53,17.71 13.53,17.21V15.39C13.53,14.82 13.65,14.7 14.06,14.7C14.36,14.7 14.87,14.85 16.07,16C17.45,17.38 17.67,18 18.45,18H20.47C21.05,18 21.34,17.71 21.18,17.14C21,16.57 20.34,15.74 19.47,14.76C19,14.21 18.29,13.61 18.07,13.3C17.77,12.92 17.86,12.75 18.07,12.4C18.07,12.4 20.54,8.93 20.8,7.74Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--instagram:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--phone:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M6.54,5C6.6,5.89,6.75,6.76,6.99,7.59l-1.2,1.2C5.38,7.59,5.12,6.32,5.03,5H6.54 M16.4,17.02c0.85,0.24,1.72,0.39,2.6,0.45v1.49c-1.32-0.09-2.59-0.35-3.8-0.75L16.4,17.02 M7.5,3H4C3.45,3,3,3.45,3,4c0,9.39,7.61,17,17,17c0.55,0,1-0.45,1-1v-3.49c0-0.55-0.45-1-1-1c-1.24,0-2.45-0.2-3.57-0.57c-0.1-0.04-0.21-0.05-0.31-0.05c-0.26,0-0.51,0.1-0.71,0.29l-2.2,2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2C9.1,8.31,9.18,7.92,9.07,7.57C8.7,6.45,8.5,5.25,8.5,4C8.5,3.45,8.05,3,7.5,3L7.5,3z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--map:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M12,2C8.13,2,5,5.13,5,9c0,5.25,7,13,7,13s7-7.75,7-13C19,5.13,15.87,2,12,2z%20M7,9c0-2.76,2.24-5,5-5s5,2.24,5,5c0,2.88-2.88,7.19-5,9.88C9.92,16.21,7,11.85,7,9z'/><circle%20fill='#{encodecolor($clr-grey-900)}'%20cx='12'%20cy='9'%20r='2.5'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--web:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	margin-top: 0.500em;
}

.card-wrap.card-wrap--copyright h3:first-child {
	margin-top: 0;
}

.card-wrap.card-wrap--copyright .mui--text-subhead {
	font-size: 1.133rem;
}

.card-wrap.card-wrap--copyright .mui--text-caption,
.card-wrap.card-wrap--copyright .copyright {
	font-size: 0.800rem;
	line-height: 1.067rem;
}

/*!
 * disqus
 */

#disqus_thread {
	background-color: $LeftNavBarLight;
}

#disqus_thread.is-active iframe {
	margin-top: 0.533rem;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}

	.col {
		max-width: 100%;
	}

	.padded-content {
		padding: 1.067rem 0;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}

	.col {
		max-width: 76.800rem;
	}

	.padded-content {
		padding: 1.600rem 0.667rem;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}

	.col {
		max-width: 76.800rem;
	}

	.padded-content {
		padding: 1.600rem 0.667rem;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 18px;
	}

	.col {
		max-width: 76.800rem;
	}

	.padded-content {
		padding: 1.600rem 0.667rem;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */

