/*! @import "main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	position: relative;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	background-color: $color-hex-page-bg;
	/* background-image: url(//c1.staticflickr.com/1/440/18550960875_5d72d17cc9_o.jpg); */
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: left 0.2s linear;
}

.page.is-active {
	position: relative;
	left: 18.133rem;
}

.page img {
	display: block;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s ease;
	padding: 0;
	margin: 0 auto;
}

/*!
 * nav menu
 */

.panel-nav-menu {
	display: block;
	width: 18.133rem;
	height: 100%;
	position: fixed;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	bottom: 0;
	font-size: 0.867em;
	line-height: 3.200rem;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $color-hex-darker-ui-bar-bg;
	transition: left 0.2s linear;
	padding: 0;
	margin: 0;
	margin-left: -18.133rem;
}

.panel-nav-menu li {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	font-size: 0.875rem;
	color: #FFFFFF;
	border: none;
	transition: background-color 0.2s ease;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-nav-menu li a:hover {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

/* .panel-nav-menu li a:focus, */
.panel-nav-menu li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.panel-nav-menu li a.is-active {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

.btn-nav-menu {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 0;
	color: #FFFFFF;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.btn-nav-menu:hover {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

.page.is-active .btn-nav-menu,
/* .btn-nav-menu:focus, */
.btn-nav-menu:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-nav-menu {
	text-align: center;
	background-color: $color-rgba-dark-ui-icon-bg
}

.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.page.is-active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
}

.page.is-active .panel-nav-menu {
	left: 18.133rem;
	width: 18.133rem;
}

.page.is-active .btn-nav-menu {
	left: 18.133rem;
}

/*!
 * menu more
 */

.btn-menu-more {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 3.200rem;
	color: #FFFFFF;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.page.is-active .btn-menu-more {
	left: 21.333rem;
}

.btn-menu-more:hover {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

/* .btn-menu-more:focus, */
.btn-menu-more:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-menu-more {
	text-align: center;
	background-color: $color-rgba-dark-ui-icon-bg
}

.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.holder-panel-menu-more {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	color: $color-hex-body-text;
	background-color: $LeftNavBarLight;
	border: 0.067rem solid $AccentColor;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.page.is-active .holder-panel-menu-more {
	left: 21.333rem;
}

.holder-panel-menu-more.is-active {
	visibility: visible;
	opacity: 1;
}

.panel-menu-more {
	display: block;
	width: 18.133rem;
	height: 100%;
	font-size: 0.867em;
	line-height: 3.200rem;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.panel-menu-more li a {
	display: block;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.2s ease;
	overflow-x: hidden;
	white-space: nowrap;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-menu-more li a:hover {
	color: inherit;
	background-color: $TitleBarAndAppBarLight;
}

/* .panel-menu-more li a:focus, */
.panel-menu-more li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * site-logo
 * landscape 104 / (1920 / 100) = 5.416 ~ 5.416vw
 * portrait 104 / (1080 / 100) = 9.629 ~ 9.620vh
 * caniuse.com/#feat=viewport-units
 * @see {@link https://css-tricks.com/viewport-sized-typography/}
 */

.holder-site-logo {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s ease;
	padding: 0;
	margin: 0;
	margin-top: -2.500rem;
	margin-top: -2.708vw;
}

.site-logo {
	display: inline-block;
	width: 5.000rem;
	height: 5.000rem;
	width: 5.416vw;
	height: 5.416vw;
	line-height: 0;
	vertical-align: middle;
	border-bottom-color: transparent;
	background-color: transparent;
	background-image: url(../img/sitelogo-rounded-333333-72x72.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 5.000rem 5.000rem;
	background-size: 5.416vw 5.416vw;
	transition: all .2s ease-out;
	margin-top: 0;
	margin-left: 0;
}

.no-svg .site-logo {
	background-image: url(../img/sitelogo-rounded-333333-72x72.png);
}

/* .site-logo:hover {
	transform: rotate(415deg);
	transition: all .4s ease-out;
} */

/*!
 * reset for animate.css
 * daneden.github.io/animate.css/
 */

.site-logo.animated {
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*!
 * fix size for the logo
 */

@media only screen and (max-width:1920px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -3.000rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 6.000rem;
		height: 6.000rem;
		background-size: 6.000rem 6.000rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:1080px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -6.250rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 12.500rem;
		height: 12.500rem;
		background-size: 12.500rem 12.500rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:1366px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -2.500rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 5.000rem;
		height: 5.000rem;
		background-size: 5.000rem 5.000rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:1280px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -2.750rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 5.500rem;
		height: 5.500rem;
		background-size: 5.500rem 5.500rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:1024px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -2.500rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 5.000rem;
		height: 5.000rem;
		background-size: 5.000rem 5.000rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:980px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -4.500rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 9.000rem;
		height: 9.000rem;
		background-size: 9.000rem 9.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:900px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -6.250rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 12.500rem;
		height: 12.500rem;
		background-size: 12.500rem 12.500rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:800px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -3.000rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 6.000rem;
		height: 6.000rem;
		background-size: 6.000rem 6.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:768px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -2.500rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 5.000rem;
		height: 5.000rem;
		background-size: 5.000rem 5.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:640px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -1.250rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 2.500rem;
		height: 2.500rem;
		background-size: 2.500rem 2.500rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:600px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -3.500rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 7.000rem;
		height: 7.000rem;
		background-size: 7.000rem 7.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:480px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -1.500rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 3.000rem;
		height: 3.000rem;
		background-size: 3.000rem 3.000rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:360px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -2.500rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 5.000rem;
		height: 5.000rem;
		background-size: 5.000rem 5.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:320px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -2.000rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 4.000rem;
		height: 4.000rem;
		background-size: 4.000rem 4.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

@media only screen and (max-width:320px) and (orientation:landscape) {
	.holder-site-logo {
		margin-top: -1.250rem;
		margin-top: -2.708vw;
	}

	.site-logo {
		width: 2.500rem;
		height: 2.500rem;
		background-size: 2.500rem 2.500rem;
		width: 5.416vw;
		height: 5.416vw;
		background-size: 5.416vw 5.416vw;
	}
}

@media only screen and (max-width:240px) and (orientation:portrait) {
	.holder-site-logo {
		margin-top: -1.500rem;
		margin-top: -4.810vh;
	}

	.site-logo {
		width: 3.000rem;
		height: 3.000rem;
		background-size: 3.000rem 3.000rem;
		width: 9.620vh;
		height: 9.620vh;
		background-size: 9.620vh 9.620vh;
	}
}

/*!
 * other
 */

.copyright {
	display: none;
	position: absolute;
	bottom: 1.750em;
	left: 0;
	right: 0;
	top: auto;
	font-size: 0.813rem;
	text-align: center;
	color: #FFFFFF;
}

.copyright a {
	font-weight: 400;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

/*!
 * pluso, yashare
 */

.ya-share2 {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.ya-share2.is-active {
	visibility: visible;
	opacity: 1;
}

.pluso {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.pluso.is-active {
	visibility: visible;
	opacity: 1;
}

.btn-share-buttons {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: $color-rgba-dark-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-share-buttons:hover {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

/* .btn-share-buttons:focus, */
.btn-share-buttons:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-share-buttons:before {
	font-family: "englishextra-ui-icons";
	content: "\e91d";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * vk-like
 */

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	right: 6.400rem;
	bottom: 0;
	line-height: 0;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

.btn-show-vk-like {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 6.400rem;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	background-color: $color-rgba-dark-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-show-vk-like:hover {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

/* .btn-show-vk-like:focus, */
.btn-show-vk-like:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * location qr code
 */

.holder-location-qrcode {
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	background-color: #FFFFFF;
}

.holder-location-qrcode .qr-code-img,
.holder-location-qrcode img {
	display: block;
	width: 9.000rem;
	height: 9.000rem;
	background-color: transparent;
	background-size: 9.000rem 9.000rem;
	border: 0;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */

