*.bat
*.sh
/.pma
/.url
*.npp
/.idea
*.xdk
*.xdke
*.URL
project-info.json
/.settings
/sqlite
/inc/regional_localhost.inc
/inc/regional_shimansky.biz.inc
intelxdk.config.additions.xml
/sql
xdk-publish-meta-data.json
