*.ai
*.fw.png
*.map
*.npp
*.psd
*.URL
*.xdk
*.xdke
.GITHUB.md
.src
/.idea
/.pma
/.settings
/.url
/inc/regional_localhost.inc
/inc/regional_shimansky.biz.inc
/sql
/sqlite
intelxdk.config.additions.xml
node_modules/
project-info.json
xdk-publish-meta-data.json
*.zip
*.sublime-project
*.sublime-workspace
