/*! @import "irregular-verbs-with-shower-main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */

	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	counter-reset: slide;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-page-bg;
}

.page img,
.shower-list img {
	display: block;
}

/*!
 * nav-menu
 */

.holder-btn-nav-menu {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.btn-nav-menu {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: $color-hex-gray-text;
	cursor: pointer;
}

.btn-nav-menu:hover {
	background-color: $color-hex-hover-ui-icon-bg
}

/* .btn-nav-menu:focus, */
.btn-nav-menu:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.holder-btn-nav-menu {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90f";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * other
 */

.caption {
	height: 3.200rem;
	position: absolute;
	top: 0;
	left: 3.200rem;
	font-size: 0.867rem;
	text-align: left;
	color: inherit;
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.caption h1 {
	display: inline-block;
	font-size: 0.867rem;
	font-weight: 300;
	line-height: 3.200rem;
	color: inherit;
	background-color: #FFFFFF;
	border-radius: 0 0 0.625em 0;
	margin: 0;
	padding: 0 0.750em;
}

.caption h1 a {
	color: inherit;
	text-decoration: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

/*!
 * overrides to share-buttons
 */

.full .badge,
.full .holder-btn-nav-menu,
.full .caption,
.full .btn-share-buttons {
	display: none;
}

/*!
 * overrides to ui-totop
 */

.full #ui-totop,
.full #ui-totop-hover,
.full #ui-totop:hover {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

/*!
 * pluso, yashare
 */

.ya-share2 {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.ya-share2.is-active {
	visibility: visible;
	opacity: 1;
}

.pluso {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.pluso.is-active {
	visibility: visible;
	opacity: 1;
}

.btn-share-buttons {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-share-buttons:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-share-buttons:focus, */
.btn-share-buttons:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-share-buttons:before {
	font-family: "englishextra-ui-icons";
	content: "\e91d";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * vk-like
 */

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	right: 6.400rem;
	bottom: 0;
	line-height: 0;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

.btn-show-vk-like {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 6.400rem;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-show-vk-like:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-show-vk-like:focus, */
.btn-show-vk-like:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */
.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.ui-totop:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
}
.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}
.ui-totop:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}
/* .ui-totop:focus, */
.ui-totop:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */

/*!
 * used for making screensaver
 */

/* body {
	background-color: #252525;
}

.page {
	background-color: transparent;
}

.full .slide:after,
.full .progress div {
	display: none;
}

.full .sitelogo {
	display: inline-block;
	width: 11.875rem;
	height: 2.625rem;
	position: fixed;
	top: 8%;
	right: 4%;
	background-color: transparent;
	background-image: url(../img/sitelogo-with-text-ru-FFFFFF-D54848-210x46.png);
	background-size: 11.875rem 2.625rem;
	background-position: top left;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 99999;
}

.no-svg .full .sitelogo {
	background-image: url(../img/sitelogo-with-text-ru-FFFFFF-D54848-210x46.png);
} */

