/*! @import "main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-y: auto;
	user-select: none;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	/* background-color: $color-hex-page-bg; */
}

.title-bar {
	width: 100%;
	height: 3.200rem;
	/* position: absolute; */
	position: fixed;
	top: 0;
	transition: top 0.4s ease-out;
	text-align: center;
	background-color: $TitleBarAndAppBarDark;
	/* z-index: 1; */
}

.title-bar.is-fixed {
	/* position: fixed; */
	top: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
}

.title-bar.is-hidden {
	top: -3.200rem;
}

.title-bar a:link,
.title-bar a:visited {
	text-decoration: none;
	color: $TitleBarAndAppBarLight;
}

.title-bar a:hover {
	color: $color-hex-englishextra-logo-bg;
}

.title-bar-icon {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.title-bar-icon > * {
	fill: $TitleBarAndAppBarLight;
}

.btn-title-bar svg {
	display: block;
}

.btn-title-bar {
	display: block;
	position: relative;
	color: $TitleBarAndAppBarLight;
}

.btn-title-bar.back {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
	float: left;
	top: 0;
	left: 0;
}

.btn-title-bar.title {
	display: inline-block;
	font-weight: 700;
	font-size: 0.933rem;
	line-height: 3.200rem;
	margin: 0;
	top: 0;
}

.btn-title-bar.vk {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
	float: right;
	top: 0;
	right: 0;
}

.btn-share {
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 3.200rem;
	background-color: $TitleBarAndAppBarLight;
}

.btn-share a > * {
	fill: $ButtonOutline;
}

.btn-share svg {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-share a {
	font-size: 0;
}

.btn-like {
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 6.400rem;
	background-color: $TitleBarAndAppBarLight;
}

.btn-like a > * {
	fill: $ButtonOutline;
}

.btn-like svg {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-like a {
	font-size: 0;
}

.btn-totop {
	display: none;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: $TitleBarAndAppBarLight;
}

.btn-totop.is-active {
	display: block;
}

.btn-totop a > * {
	fill: $ButtonOutline;
}

.btn-totop svg {
	display: block;
	width: 3.200rem;
	height: 3.200rem;
}

.btn-totop a {
	font-size: 0;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

/* .ya-share2 {
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
} */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

.ya-share2 {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	bottom: 0;
	right: 3.200rem;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.ya-share2.is-active {
	visibility: visible;
	opacity: 1;
}

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	right: 6.400rem;
	bottom: 0;
	line-height: 0;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */
