/*! @import "search-main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * fixes to Simple Grid
 */

.grid:last-child,
.grid-narrow:last-child {
	/* margin-bottom: 1.500rem; */
	padding-bottom: 1.500rem;
}

.grid .col .content h1,
.grid .col .content h2:first-child,
.grid .col .content h3:first-child,
.grid .col .content p:first-child,
.grid-narrow .col .content h1,
.grid-narrow .col .content h2:first-child,
.grid-narrow .col .content h3:first-child,
.grid-narrow .col .content p:first-child {
	margin-top: 0;
}

.grid .col .content h2.btn-expand-hidden-layer:first-child,
.grid-narrow .col .content h2.btn-expand-hidden-layer:first-child {
	margin-top: 1.500rem;
}

.grid .col .footer p,
.grid-narrow .col .footer p {
	text-align: center;
}

/*!
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	position: relative;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	background-color: $color-hex-page-bg;
	transition: left 0.2s linear;
}

.page.is-active {
	position: relative;
	left: 18.133rem;
}

.page img {
	display: block;
}

.panel-nav-top {
	display: block;
	width: 100%;
	height: 3.200rem;
	background-color: $color-hex-ui-bar-bg;
}

.container {
	width: 100%;
	height: 100%;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s ease;
	padding: 0;
	margin: 0 auto;
}

.app-content {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

.container .content-wrapper,
.app-content .content-wrapper {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

.container .content-wrapper:after,
.app-content .content-wrapper:after,
.app-content:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * nav menu
 */

.panel-nav-menu {
	display: block;
	width: 18.133rem;
	height: 100%;
	position: fixed;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	bottom: 0;
	font-size: 0.867em;
	line-height: 3.200rem;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $color-hex-darker-ui-bar-bg;
	transition: left 0.2s linear;
	padding: 0;
	margin: 0;
	margin-left: -18.133rem;
}

.panel-nav-menu li {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	font-size: 0.875rem;
	color: #FFFFFF;
	border: none;
	transition: background-color 0.2s ease;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-nav-menu li a:hover {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

/* .panel-nav-menu li a:focus, */
.panel-nav-menu li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.panel-nav-menu li a.is-active {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

.btn-nav-menu {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	color: $color-hex-gray-text;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.btn-nav-menu:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

.page.is-active .btn-nav-menu,
/* .btn-nav-menu:focus, */
.btn-nav-menu:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-nav-menu {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.page.is-active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
}

.page.is-active .panel-nav-menu {
	left: 18.133rem;
	width: 18.133rem;
}

.page.is-active .btn-nav-menu {
	left: 18.133rem;
}

/*!
 * menu more
 */

.btn-menu-more {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 3.200rem;
	color: $color-hex-gray-text;
	text-decoration: none;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.page.is-active .btn-menu-more {
	left: 21.333rem;
}

.btn-menu-more:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-menu-more:focus, */
.btn-menu-more:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-menu-more {
	text-align: center;
	background-color: $color-hex-ui-icon-bg;
}

.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.holder-panel-menu-more {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	color: $color-hex-body-text;
	background-color: $LeftNavBarLight;
	border: 0.067rem solid $AccentColor;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.page.is-active .holder-panel-menu-more {
	left: 21.333rem;
}

.holder-panel-menu-more.is-active {
	visibility: visible;
	opacity: 1;
}

.panel-menu-more {
	display: block;
	width: 18.133rem;
	height: 100%;
	font-size: 0.867em;
	line-height: 3.200rem;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.panel-menu-more li a {
	display: block;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.2s ease;
	overflow-x: hidden;
	white-space: nowrap;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-menu-more li a:hover {
	color: inherit;
	background-color: $TitleBarAndAppBarLight;
}

/* .panel-menu-more li a:focus, */
.panel-menu-more li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * fixes to typeboost.css
 * modularscale.com
 * @see {@link https://github.com/modularscale/modularscale-sass}
 * ----------------
 * $ms-base: 1em;
 * $ms-ratio: 1.5,1.1;
 * ----------------
 * ms(16) / 3.452em
 * ms(15) / 3.375em
 * ms(14) / 3.138em
 * ms(13) / 2.853em
 * ms(12) / 2.594em
 * ms(11) / 2.358em
 * ms(10) / 2.25em
 * ms(9) / 2.144em
 * ms(8) / 1.949em
 * ms(7) / 1.772em
 * ms(6) / 1.611em
 * ms(5) / 1.5em
 * ms(4) / 1.464em
 * ms(3) / 1.331em
 * ms(2) / 1.21em
 * ms(1) / 1.1em
 * ms(0) / 1em
 * ms(-1) / 0.909em
 * ms(-2) / 0.826em
 * ms(-3) / 0.751em
 * ms(-4) / 0.683em
 * ms(-5) / 0.667em
 * ms(-6) / 0.621em
 */

.container #h1 {
	margin-top: 0;
	margin-bottom: 0.500rem;
}

.col h2 a,
.col h2 a:focus,
.col h2 a:hover,
.col h2 a:active,
.col h2 a:visited {
	color: inherit;
}

.col h2 + div form p:first-child {
	margin-top: 0;
}

.col a {
	font-weight: inherit;
	color: $color-hex-link;
}

.col a:focus,
.col a:hover,
.col a:active {
	color: $color-hex-hover-link;
}

.col a:visited {
	color: $color-hex-visited-link;
}

.col p.subhead {
	font-size: 1.200rem;
	line-height: 1.600rem;
}

.col table.respond {
	width: 100%;
}

.col table {
	border: none;
	border-top-width: 0.067rem;
	border-top-style: solid;
	border-top-color: $color-hex-divider;
	border-right-width: 0.067rem;
	border-right-style: solid;
	border-right-color: $color-hex-divider;
	border-left-width: 0.067rem;
	border-left-style: solid;
	border-left-color: $color-hex-divider;
}

.col table th {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td {
	border: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-divider;
}

.col table td.with-img-only {
	padding: 0.500rem;
}

@media screen and (max-width: 640px) {
	.col table.respond {
		border: none;
	}

	.col table.respond td {
		display: block;
	}

	.col table.respond,
	.col table.respond tr,
	.col table.respond td {
		width: 100%;
		box-sizing: border-box;
	}

	.col table.respond tr {
		float: left;
		position: relative;
		border: 0.067rem solid $color-hex-divider;
		border-bottom: none;
		margin-bottom: 1.500rem;
	}

	.col table.respond tr:last-child {
		margin-bottom: 0;
	}

	.col table.respond thead,
	.col table.respond tfoot {
		display: none;
	}

	.col table.respond td::before {
		display: block;
		float: left;
		content: attr(data-label);
		font-weight: bold;
		text-align: right;
		padding-right: 0.625rem;
	}
}

.col hr,
.col .hr {
	height: 0.067rem;
	background-color: $color-hex-divider;
}

.col .highlight {
	color: $color-hex-highlight;
}

.col .underline {
	text-decoration: none;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: inherit;
}

/*!
 * overrides to jquery-ui-1.10.4.custom.min.css
 */

.ui-autocomplete {
	font-family: inherit;
	color: inherit;
	background-color: #FFFFFF;
	border: 0.067rem solid $color-hex-divider;
	border-radius: 0;
	z-index: 999;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background-color: $color-hex-hover-ui-icon-bg;
	border: 0.067rem solid $color-hex-hover-ui-icon-bg;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.ui-menu-item,
.ui-menu-item .ui-corner-all {
	font-size: 0.813rem;
	font-weight: 400 !important;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.ui-widget-shadow {
	border-radius: 0;
}

/*!
 * footer
 */

.col .footer {
	border-top: 0.067rem solid $color-hex-divider;
}

.col .footer p {
	font-size: 0.800rem;
	line-height: 1.067rem;
}

.col .footer a {
	color: $color-hex-gray-text;
	border-bottom-width: 0.067rem;
	border-bottom-style: solid;
	border-bottom-color: $color-hex-gray-text;
}

.col .footer a:hover,
.col .footer a:active,
.col .footer a:focus {
	color: $color-hex-gray-text;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */
.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.ui-totop:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
}
.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}
.ui-totop:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}
/* .ui-totop:focus, */
.ui-totop:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * specific
 */

#search_form {
	margin-bottom: 1.500rem;
}

#search_form input[type=text] {
	width: 100%;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */

