/*! @import "main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	position: relative;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	background-color: $color-hex-page-bg;
	transition: left 0.2s linear;
}

.page.is-active {
	position: relative;
	left: 18.133rem;
}

.page img,
.superbox img {
	display: block;
}

.panel-nav-top {
	display: block;
	width: 100%;
	height: 3.200rem;
	background-color: $color-hex-dark-ui-bar-bg;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

/*!
 * nav menu
 */

.panel-nav-menu {
	display: block;
	width: 18.133rem;
	height: 100%;
	position: fixed;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	bottom: 0;
	font-size: 0.867em;
	line-height: 3.200rem;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $color-hex-darker-ui-bar-bg;
	transition: left 0.2s linear;
	padding: 0;
	margin: 0;
	margin-left: -18.133rem;
}

.panel-nav-menu li {
	position: relative;
	top: 0;
	left: 0;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	font-size: 0.875rem;
	color: #FFFFFF;
	border: none;
	transition: background-color 0.2s ease;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-nav-menu li a:hover {
	background-color: $color-hex-darker-ui-bar-hover-item-bg;
}

/* .panel-nav-menu li a:focus, */
.panel-nav-menu li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.panel-nav-menu li a.is-active {
	background-color: $color-hex-darker-ui-bar-active-item-bg;
}

.btn-nav-menu {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 0;
	color: #FFFFFF;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.btn-nav-menu:hover {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

.page.is-active .btn-nav-menu,
/* .btn-nav-menu:focus, */
.btn-nav-menu:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-nav-menu {
	text-align: center;
	background-color: $color-rgba-dark-ui-icon-bg
}

.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.page.is-active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
}

.page.is-active .panel-nav-menu {
	left: 18.133rem;
	width: 18.133rem;
}

.page.is-active .btn-nav-menu {
	left: 18.133rem;
}

/*!
 * menu more
 */

.btn-menu-more {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	top: 0;
	left: 3.200rem;
	color: #FFFFFF;
	transition: left 0.2s linear, background-color 0.2s ease;
	cursor: pointer;
}

.page.is-active .btn-menu-more {
	left: 21.333rem;
}

.btn-menu-more:hover {
	background-color: $color-hex-hover-dark-ui-icon-bg;
}

/* .btn-menu-more:focus, */
.btn-menu-more:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-menu-more {
	text-align: center;
	background-color: $color-rgba-dark-ui-icon-bg
}

.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.holder-panel-menu-more {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 3.200rem;
	left: 3.200rem;
	color: $color-hex-body-text;
	background-color: $LeftNavBarLight;
	border: 0.067rem solid $AccentColor;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.page.is-active .holder-panel-menu-more {
	left: 21.333rem;
}

.holder-panel-menu-more.is-active {
	visibility: visible;
	opacity: 1;
}

.panel-menu-more {
	display: block;
	width: 18.133rem;
	height: 100%;
	font-size: 0.867em;
	line-height: 3.200rem;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.panel-menu-more li a {
	display: block;
	font-weight: 400;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.2s ease;
	overflow-x: hidden;
	white-space: nowrap;
	padding-right: 1.333rem;
	padding-left: 1.333rem;
}

.panel-menu-more li a:hover {
	color: inherit;
	background-color: $TitleBarAndAppBarLight;
}

/* .panel-menu-more li a:focus, */
.panel-menu-more li a:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * other
 */

.container h1 {
	width: 100%;
	position: absolute;
	top: 0;
	font-size: 1.200rem;
	font-weight: 300;
	line-height: 3.200rem;
	text-align: center;
	white-space: nowrap;
	color: #FFFFFF;
	background-color: $color-hex-dark-ui-bar-bg;
	margin: 0;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.200rem;
	width: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.333rem;
	line-height: 3.200rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

/*!
 * pluso, yashare
 */

.ya-share2 {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.ya-share2.is-active {
	visibility: visible;
	opacity: 1;
}

.pluso {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	transition: visibility 0s, opacity 0.2s ease;
}

.pluso.is-active {
	visibility: visible;
	opacity: 1;
}

.btn-share-buttons {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 3.200rem;
	bottom: 0;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-share-buttons:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-share-buttons:focus, */
.btn-share-buttons:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-share-buttons:before {
	font-family: "englishextra-ui-icons";
	content: "\e91d";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * vk-like
 */

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.200rem;
	position: fixed;
	right: 6.400rem;
	bottom: 0;
	line-height: 0;
	transition: visibility 0s, opacity 0.2s ease;
	background-color: $color-hex-vk-like-bg;
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.667rem;
	line-height: 0;
}

.btn-show-vk-like {
	display: inline-block;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	bottom: 0;
	right: 6.400rem;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	overflow: hidden;
	transition: background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn-show-vk-like:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}

/* .btn-show-vk-like:focus, */
.btn-show-vk-like:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 1.333rem;
	line-height: 3.200rem;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */
.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.ui-totop:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
}
.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}
.ui-totop:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}
/* .ui-totop:focus, */
.ui-totop:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * location qr code
 */

.holder-location-qrcode {
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	background-color: #FFFFFF;
}

.holder-location-qrcode .qr-code-img,
.holder-location-qrcode img {
	display: block;
	width: 9.000rem;
	height: 9.000rem;
	background-color: transparent;
	background-size: 9.000rem 9.000rem;
	border: 0;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */

