<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Об&#160;этом ресурсе</h1>
			<p class="mui--text-subhead">About</p>
		</div>
		<div class="card-wrap card-wrap--banner-dark">
			<h2 class="mui--text-title">Кратко</h2>
			<figure class="data-src-img-figure"><a href="/image_src.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%201200%20630%27%2F%3E" data-src="/image_src.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<h3 class="mui--text-subhead">Цель</h3>
			<p class="dummy">Обращение к&#160;репетитору вызвано желанием быть востребованным на&#160;рынке труда, инвестировать в&#160;будущее. Наедине с&#160;доброжелательным и&#160;опытным преподавателем обучение проходит намного успешнее, чем в&#160;группах.</p>
			<h3 class="mui--text-subhead">Политика</h3>
			<p class="dummy">Репетитор&#160;&#8212; не&#160;обслуга. Частный перподаватель это тренер, который работает с&#160;вами в&#160;тандеме. Если&#160;же репетитор для вас тот, на&#160;кого вы&#160;сваливаете воспитание, толку не&#160;будет. Все&#160;просто.</p>
			<h3 class="mui--text-subhead">Методика</h3>
			<p class="dummy">Часто родители нанимают репетиторов, чтобы &#171;откупиться&#187; от&#160;ребенка. Занятия не&#160;дадут результат. Роль&#160;родителя важнее всего. Интересуйтесь успехами, спрашивайте о&#160;трудностях в&#160;обучении, но&#160;никогда не&#160;делайте домашнее задание за&#160;ребенка или вместе с&#160;ним. Взрослым ученикам не&#160;стоит увлекаться записыванием новых слов: результатом служат не&#160;много букв в&#160;тетрадке, а&#160;ваши навыки говорения, чтения и&#160;письма. Учеба&#160;&#8212; не&#160;развлечение, это тренировка, процесс раскрытия ваших потенциалов.</p>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<div class="vk-post" id="vk_post_-171556177_2" data-vk-ownerid="-171556177" data-vk-postid="2" data-vk-hash="5jFi279PGlNNKDDvTsj85C3eFFBv"></div>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Фото</h3>
			<p class="mui--text-caption"><a href="https://www.flickr.com/photos/englishextra/albums/72157694410206950" target="_blank" rel="noopener">&#169;&#160;2018 serguei-gallery by englishextra</a></p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void (0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
