<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Контакты</h1>
			<p class="mui--text-subhead">Напишите мне в <a href="https://www.instagram.com/shimanskybiz/" target="_blank">Инстаграме</a>, <a href="https://vk.com/englishextragitlabio" target="_blank">&#171;ВКонтакте&#187;</a>, <a href="skype:serguei.shimansky?chat">Скайпе</a>, <a href="whatsapp://send?phone=79854416702">Вотсапе</a>, <a href="viber://chat?number=%2B79854416702">Вайбере</a>, <a href="tg://resolve?domain=english_tushino">Телеграме</a>!</p>
		</div>
		<template>
			<div class="card-wrap">
				<h2 class="mui--text-title">Телефон</h2>
				<a href="tel:%2B79854416702" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Телефон">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-outline-phone"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Скайп</h2>
				<a href="skype:serguei.shimansky?chat" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Скайп">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-skype-business"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Вотсап</h2>
				<a href="whatsapp://send?phone=79854416702" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Вотсап">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-whatsapp"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Вайбер</h2>
				<a href="viber://chat?number=%2B79854416702" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Вайбер">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-viber"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Телеграм</h2>
				<a href="tg://resolve?domain=english_tushino" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Телеграм">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-telegram"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Инстаграм</h2>
				<a href="https://www.instagram.com/shimanskybiz/" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Инстаграм">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-instagram"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">ВКонтакте</h2>
				<a href="https://vk.com/englishextragitlabio" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="ВКонтакте">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-vk"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Твиттер</h2>
				<a href="https://twitter.com/englishextra" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Твиттер">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-twitter"></use>
					</svg>
				</a>
			</div>
			<div class="card-wrap">
				<h2 class="mui--text-title">Имейл</h2>
				<a href="mailto:englishextra2%40yahoo.com" class="mui-btn ripple large-btn-link" aria-label="Контакты" title="Имейл">
					<svg class="large-btn-icon">
						<use xlink:href="#ui-icon-outline-mail_outline"></use>
					</svg>
				</a>
			</div>
		</template>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="tel:%2B79854416702" aria-label="Контакты" title="Телефон"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-phone-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="skype:serguei.shimansky?chat" aria-label="Контакты" title="Скайп"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-skype-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="whatsapp://send?phone=79854416702" aria-label="Контакты" title="Вотсап"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-whatsapp-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="viber://chat?number=%2B79854416702" aria-label="Контакты" title="Вайбер"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-viber-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="tg://resolve?domain=english_tushino" aria-label="Контакты" title="Телеграм"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-telegram-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="https://www.instagram.com/shimanskybiz/" aria-label="Контакты" title="Инстаграм"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-instagram-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="https://vk.com/englishextragitlabio" aria-label="Контакты" title="ВКонтакте"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-vk-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="https://twitter.com/englishextra" aria-label="Контакты" title="Твиттер"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-twitter-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="https://www.behance.net/englishextra" aria-label="Контакты" title="Твиттер"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-behance-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="https://www.domestika.org/en/englishextra" aria-label="Контакты" title="Твиттер"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-domestika-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--skeleton is-active">
			<figure class="data-src-img-figure"><a href="mailto:englishextra2%40yahoo.com" aria-label="Контакты" title="Имейл"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-contacts/sprite-contacts-banner-email-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
		</div>
		<div class="card-wrap card-wrap--plain-links">
			<h2 class="mui--text-title">Карта</h2>
			<div class="ymap-iframe-wrapper"><iframe src="about:blank" data-src="https://yandex.ru/map-widget/v1/-/CBF64GAooC" class="data-src-iframe" width="500" height="282" title="Видео" style="width:100%;height:100%;min-height:282px;border:none"></iframe></div>
			<p class="mui--text-caption"><a href="https://yandex.ru/maps/org/repetitor_sergey_shimanskiy/1085972151" target="_blank">Репетитор английского на&#160;Яндекс.Картах</a></p>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bl5wLzpjO5V/" data-instgrm-version="8" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Комментарии</h2>
			<div id="disqus_thread" data-shortname="englishextragithubio"></div>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Фото</h3>
			<p class="mui--text-caption"><a href="https://www.flickr.com/photos/englishextra/albums/72157694410206950" target="_blank" rel="noopener">&#169;&#160;2018 serguei-gallery by englishextra</a></p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
