<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Репетитор английского в&#160;Тушино</h1>
			<p class="mui--text-subhead">&#171;С нуля&#187;, подтянуть, улучшить, подготовка к&#160;ЕГЭ. Школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Специализация</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-speciality.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-speciality.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Работал переводчиком в&#160;различных некоммерческих организациях (Врачи без границ, United Way, ВКБ ООН и&#160;др.). В&#160;настоящий момент преподаю английский школьникам, студентам и&#160;взрослым в&#160;частном порядке в&#160;Тушино. Также, как вы, наверное, догадались, увлекаюсь веб-разработкой, делаю сайты-визитки.</p>
		</div>
		<div class="card-wrap card-wrap--banner-dark">
			<h2 class="mui--text-title">Приоритеты</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-priorities.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-priorities.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Основной упор делается на&#160;грамматику и&#160;произношение. Если&#160;не&#160;удается безупречное произношение&#160;&#8212; невелика беда, поскольку это удел профи, но&#160;вот безграмотная речь&#160;&#8212; досада. Решающим фактором является высокая мотивация и&#160;готовность вновь &#171;влезть в&#160;шкуру ученика&#187;. Т.е. домашнее заданее придется выполнять, а&#160;слова&#160;&#8212; учить.</p>
		</div>
		<div class="card-wrap card-wrap">
			<h2 class="mui--text-title">Идивидуально</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-diplom.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-diplom.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a></figure>
			<p class="dummy">Английский индивидуально&#160;&#8211; наиболее эффективный метод образования: вы говорите больше, чем на занятиях в группах. Язык — средство общения, и&#160;мерилом служат ваши навыки аудирования, говорения и чтения, но не объем записанных новых слов вкупе с неспособностью общаться на иностранном языке в реальных ситуациях.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Подготовка к&#160;ЕГЭ</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-ege-web-resources.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-ege-web-resources.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Студентам, сдающим государственный экзамен, лучше начать подготовку к&#160;<a href="#/tests_gia_ege_get_ready_for_a_run">тестам</a> минимум за&#160;год. Темы устной части можно проговорить в&#160;самые последние дни перед самой сдачей. Однако это не&#160;значит, что вся подготовка идет без говорения и&#160;аудирования.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Практика</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-practice.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-practice.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Факультативное посещение <a href="#/english_through_movies">кино на&#160;английском</a>&#160;&#8212; хороший метод развития навыков аудирования. Возьмите с&#160;собой на&#160;просмотр более подготовленного партнера, чтобы после сеанса было с&#160;кем обсудить тонкости услышанного.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Условия</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-conditions.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-conditions.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Занятия проводятся на&#160;дому <a href="#/contacts">у&#160;преподавателя</a> рядом с &#171;ДК Салют&#187; по&#160;одному часу, минимум два раза в&#160;неделю. Три&#160;раза&#160;&#8212; это максимум. <a href="#/tests_languagelink_online_test">Пройдите тест</a>, чтобы понять, какой&#160;же уровень у&#160;Вас на&#160;текущий момент, и&#160;спланировать сроки обучения. Запишите те вопросы, которые вызвали у&#160;Вас сомнения. Ввиду дороговизны <a href="#/books">бумажных пособий</a> не&#160;торопитесь тратиться и&#160;справьтесь у&#160;преподавателя о&#160;наличии подходящих материалов в&#160;электронном&#160;виде.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Стоимость</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-pricing.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-pricing.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Стоимость обучения за 60-минутное занятие при посещении не&#160;менее <a href="#/schedule">двух раз в&#160;неделю</a>. Предложение не&#160;является публичной офертой.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>Цены на&#160;период 2018&#8212;2019&#160;гг</caption>
					<thead>
						<tr>
							<th>Возраст</th>
							<th>У&#160;ученика</th>
							<th>У&#160;преподавателя</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Возраст">1&#8212;8 кл.</td>
							<td data-label="У&#160;ученика">700&#160;руб.&#160;/ 60&#160;мин.</td>
							<td data-label="У&#160;преподавателя">800&#160;руб.&#160;/ 60&#160;мин.</td>
						</tr>
						<tr>
							<td data-label="Возраст">9&#8212;11 кл. и&#160;взрослые</td>
							<td data-label="У&#160;ученика">900&#160;руб.&#160;/ 60&#160;мин.</td>
							<td data-label="У&#160;преподавателя">1000&#160;руб.&#160;/ 60&#160;мин.</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
		<div class="card-wrap card-wrap--skeleton">
			<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BnTckKUD6p4/" data-instgrm-version="8" style="background:#FFF; border:0; border-radius:3px; box-shadow:0&#160;0&#160;1px 0&#160;rgba (0,0,0,0.5),0&#160;1px 10px 0&#160;rgba (0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:100%;"></blockquote>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
