<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Ресурсы</h1>
			<p class="mui--text-subhead">В сети достаточно качественных ресурсов для изучающих иностранные языки. Важно не&#160;спутать реальный образовательный ресурс с&#160;продуктом от&#160;инфо-бизнеса.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Oxford Dictionaries</h2>
			<figure class="data-src-img-figure"><a href="https://en.oxforddictionaries.com/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-odo-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Словарь современных значений английских слов, синонимов и&#160;антонимов, а&#160;также вопросники, игры и&#160;видео, статьи по&#160;грамматике.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Learn a&#160;language for&#160;free</h2>
			<figure class="data-src-img-figure"><a href="https://www.duolingo.com/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-duolingo-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Learn Spanish, French, German, Portuguese, Italian, Irish, Dutch, Danish, and English. Totally fun and 100% free.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Подсказки от&#160;Grammar&#160;Girl</h2>
			<figure class="data-src-img-figure"><a href="http://www.quickanddirtytips.com/grammar-girl" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-gg-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Американский вариант &#171;Как правильно?&#187;. Действительно распространенные ошибки и&#160;конфузы разбирает автор в&#160;своем подкасте. Бесплатно MP3. Минус&#160;&#8212; много не&#160;очень правильной рекламы, не&#160;покупайтесь!</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Headway онлайн</h2>
			<figure class="data-src-img-figure"><a href="http://elt.oup.com/student/headway" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-oup-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Практикуйте свой ​​английский с&#160;интерактивными упражнениями, головоломками и&#160;играми. Вы&#160;можете сами сконструировать тесты под себя, пройти их&#160;онлайн или распечатать для дальнейшей практики оффлайн. В&#160;Вашем распоряжении шесть уровней.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Словарь в&#160;картинках</h2>
			<figure class="data-src-img-figure"><a href="http://www.ikonet.com/en/visualdictionary/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-visualdictionary-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Тематический онлайн-словарь в&#160;картинках, не&#160;требующий регистрации для работы с&#160;ним, содержит около полутора десятка основных тем с&#160;детализированными иллюстрированными подтемами. Найдется любая мелочь. Для&#160;тренировки используйте раздел&#160;игр.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Telegraph Style Book</h2>
			<figure class="data-src-img-figure"><a href="http://www.telegraph.co.uk/topics/about-us/style-book/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-telegraph-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Официальное руководство по&#160;стилистике и&#160;оформлению издательства Telegraph Media Group Limited для газеты The Daily Telegraph, журнала The Sunday Telegraph, приложений и&#160;сайта Telegraph.co.uk.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">English Accents Map</h2>
			<figure class="data-src-img-figure"><a href="https://www.englishaccentsmap.com/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-english-accents-map-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Интерактивная карта вариаций английского произношения с&#160;примерами.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Демо-КИМы ЕГЭ</h2>
			<figure class="data-src-img-figure"><a href="http://fipi.ru/ege-i-gve-11/demoversii-specifikacii-kodifikatory" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-ege-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Задания демонстрационных вариантов не&#160;используются на&#160;экзаменах, но&#160;они имеют аналогичную структуру, ознакомление с&#160;которой позволяет выпускникам и&#160;абитуриентам выработать стратегию подготовки к&#160;ЕГЭ.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">ЕГЭ на&#160;Яндексе</h2>
			<figure class="data-src-img-figure"><a href="http://ege.yandex.ru/english/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-yandex-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">На Яндексе можно выполнять задания из&#160;демонстрационных вариантов ЕГЭ в&#160;режиме онлайн-тренировки.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Подкасты BBC</h2>
			<figure class="data-src-img-figure"><a href="http://www.bbc.co.uk/podcasts/series/english" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-bbc-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Кладезь подкастов как новостных, так и&#160;обучающих. Свободно скачиваемые MP3 напрямую через RSS&#160;фиды или по&#160;бесплатной подписке в&#160;iTunes.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">&#171;Злые зайчики&#187;</h2>
			<figure class="data-src-img-figure"><a href="http://www.angryalien.com/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-angryalien-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">30-ти секундные ролики&#160;&#8212; пародии на&#160;известные голивудские блокбастеры. Все&#160;герои очень похожи на&#160;зайчиков.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Video Vocab</h2>
			<figure class="data-src-img-figure"><a href="http://www.videovocab.tv/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-vv-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Oбучающие видеопрезентации по&#160;экономике, финансам и&#160;технологиям.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Уровневый тест</h2>
			<figure class="data-src-img-figure"><a href="https://www.languagelink.ru/test/english/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-languagelink-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Прежде чем обращаться к&#160;репетитору, решите данный тест из&#160;пяти десятков вопросов с&#160;ответами, запишите себе те вопросы, в&#160;которых вы не&#160;уверены.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Тест &#171;Красный Мерфи&#187;</h2>
			<figure class="data-src-img-figure"><a href="http://www.cambridge.org/elt/inuse/grammartests/esgu-test.htm" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-egu-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Все мы&#160;любим Красный Мерфи, а&#160;так&#160;ли хорошо мы&#160;усвоили его уроки? Проверьте&#160;себя.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Сходим в&#160;кино!</h2>
			<figure class="data-src-img-figure"><a href="http://pioner-cinema.ru/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-pioner-cinema-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">И посмотрим фильм на&#160;оригинальном языке с&#160;русскими субтитрами.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Видео от&#160;Linguaspectrum</h2>
			<figure class="data-src-img-figure"><a href="https://vimeo.com/britlish/videos" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-linguaspectrum-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Бывший полицейский и&#160;менеджер по&#160;маркетингу, Ричард выпускает образовательные ролики для изучающих английский, создает новые сайты с&#160;квизами и&#160;тестами.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Выгони гремлин</h2>
			<figure class="data-src-img-figure"><a href="http://cdextras.cambridge.org/grammargremlins/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-grammargremlins-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Трехуровневый тест Grammar Gremlins на&#160;базе известного курса in&#160;Use собьет с&#160;Вас спесь по&#160;поводу Вашего &#171;pre-intermediate&#187;. Задача: освободиться от&#160;злых гномиков&#160;&#8212; гремлинов, приносящих неудачу пилоту.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">3500 видеоуроков</h2>
			<figure class="data-src-img-figure"><a href="https://interneturok.ru/subject/english" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-interurok-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Более 4000&#160;видеоуроков по&#160;основным предметам школьной программы&#160;&#8212; в&#160;открытом доступе и&#160;без рекламы. Смотри и&#160;понимай.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">English-Russian Dictionary</h2>
			<figure class="data-src-img-figure"><a href="https://dictionary.cambridge.org/dictionary/english-russian/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-cambridge-dictionary-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Hear the words spoken in British and American English. More&#160;than 20,000 clear definitions in English with Russian translations. More&#160;than 25,000 real examples show how words are used. Ideal for intermediate learners of English.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Пробные задания IELTS</h2>
			<figure class="data-src-img-figure"><a href="https://www.ielts.org/about-the-test/sample-test-questions" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-ielts-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Есть два типа тестов IELTS: Academic или General Training. Задания по&#160;аудированию общие для обоих типов, но&#160;чтение и&#160;письмо для каждого типа свои. Уточните, какой именно тип IELTS тестов вам сдавать.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Всероссийская олимпиада</h2>
			<figure class="data-src-img-figure"><a href="http://www.rosolymp.ru/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-rosolymp-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Задания и&#160;решения по&#160;всем предметам, таблица результатов с&#160;поименным поиском.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Проверьте ваш английский</h2>
			<figure class="data-src-img-figure"><a href="http://www.cambridgeenglish.org.ru/test-your-english/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-cambridge-english-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Это быстрый бесплатный онлайн-тест. Он&#160;покажет, какой экзамен Cambridge English будет оптимальным для&#160;вас.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Словарь Мультитран</h2>
			<figure class="data-src-img-figure"><a href="http://www.multitran.ru/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-multitran-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">В настоящее время это один из&#160;наиболее полных и&#160;самых популярных автоматических онлайновых словарей Рунета.</p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Common Errors in&#160;English</h2>
			<figure class="data-src-img-figure"><a href="https://brians.wsu.edu/common-errors/" target="_blank" rel="noopener"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20640%20360%27%2F%3E" data-src="./libs/serguei-muicss/img/sprite-english4free-banner/english4free-banner-wsu-640x360.png" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Dictionaries differ among themselves on how much guidance to usage they provide, but the goal of a usage guide like this is substantially different: to protect you against patterns which are regarded by substantial numbers of well-educated people as nonstandard.</p>
		</div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на&#160;ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Фото</h3>
			<p class="mui--text-caption"><a href="https://www.flickr.com/photos/englishextra/albums/72157694410206950" target="_blank" rel="noopener">&#169;&#160;2018 serguei-gallery by englishextra</a></p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
