<div id="content-wrapper">
	<div id="appbar-placeholder" class="mui--appbar-height"></div>
	<div class="card-grid">
		<div class="card-wrap card-wrap--heading">
			<h1 class="mui--text-display1">Уровневый тест</h1>
			<p class="mui--text-subhead">&#171;Уровневый тест&#187; с&#160;ответами по&#160;материалам languagelink.ru</p>
		</div>
		<div class="card-wrap card-wrap--banner-dark">
			<h2 class="mui--text-title">Цель</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-testing.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-testing.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">&#171;Для того, чтобы подобрать программу, максимально отвечающую Вашим целям, специалисты академического отдела Language Link разработали тест по&#160;английскому языку. Он&#160;рассчитан на&#160;определение уровня с&#160;точки зрения лексики и&#160;грамматики. Поскольку уровень складывается из&#160;оценки всех языковых компетенций, в&#160;продолжения онлайн-теста нужно будет пройти устное тестирование с&#160;преподавателем-носителем в&#160;ближайшем учебном центре. По&#160;результатам письменного и&#160;устного тестирования эксперты Language Link назначают подходящий&#160;курс.&#187;</p>
			<h3 class="mui--text-subhead">Источник</h3>
			<p class="mui--text-caption"><a href="https://www.languagelink.ru/test/english/" target="_blank" rel="noopener">&#169;&#160;Language Link, 1997&#8212;2018</a></p>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Какой у&#160;меня уровень?</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-cefr-what-level-do-i-have.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-cefr-what-level-do-i-have.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">The Common European Framework of Reference for Languages (CEFR)&#160;&#8212; это общеевропейская система уровней владения иностранным языком. В&#160;ней 3&#160;категории (A, B, C), каждая из&#160;которых делится на 2&#160;уровня.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>A1</caption>
					<thead>
						<tr>
							<th>Proficiency</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Proficiency">Listening</td>
							<td data-label="Description">I can recognise familiar words and very basic phrases concerning myself, my family and immediate concrete surroundings when people speak slowly and clearly.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Reading</td>
							<td data-label="Description">I can understand familiar names, words and very simple sentences, for example on notices and posters or in catalogues.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Interaction</td>
							<td data-label="Description">I can interact in a simple way provided the other person is prepared to repeat or rephrase things at a slower rate of speech and help me formulate what I'm trying to say. I&#160;can ask and answer simple questions in areas of immediate need or on very familiar topics.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Production</td>
							<td data-label="Description">I can use simple phrases and sentences to describe where I&#160;live and people I&#160;know.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Writing</td>
							<td data-label="Description">I can write a short, simple postcard, for example sending holiday greetings. I&#160;can fill in forms with personal details, for example entering my name, nationality and address on a hotel registration form.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>A2</caption>
					<thead>
						<tr>
							<th>Proficiency</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Proficiency">Listening</td>
							<td data-label="Description">I can understand phrases and the highest frequency vocabulary related to areas of most immediate personal relevance (e.g. very basic personal and family information, shopping, local area, employment). I&#160;can catch the main point in short, clear, simple messages and announcements.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Reading</td>
							<td data-label="Description">I can read very short, simple texts. I&#160;can find specific, predictable information insimple everyday material such as advertisements, prospectuses, menus and timetables and I&#160;can understand short simple personal letters.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Interaction</td>
							<td data-label="Description">I can communicate in simple and routine tasks requiring a simple and direct exchange of information on familiar topics and activities. I&#160;can handle very short social exchanges, even though I&#160;can't usually understand enough to keep the conversation going myself.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Production</td>
							<td data-label="Description">I can use a series of phrases and sentences to describe in simple terms my family and other people, living conditions, my educational background and my present or most recent job.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Writing</td>
							<td data-label="Description">I can write short, simple notes and messages relating to matters in areas of immediate needs. I&#160;can write a very simple personal letter, for example thanking someone for something.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>B1</caption>
					<thead>
						<tr>
							<th>Proficiency</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Proficiency">Listening</td>
							<td data-label="Description">I can understand the main points of clear standard speech on familiar matters regularly encountered in work, school, leisure, etc. I&#160;can understand the main point of many radio or TV programmes on current affairs or topics of personal or professional interest when the delivery isrelatively slow and clear.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Reading</td>
							<td data-label="Description">I can understand texts that consist mainly of high frequency everyday or job-related language. I&#160;can understand the description of events, feelings and wishes in personal letters.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Interaction</td>
							<td data-label="Description">I can deal with most situations likely to arise whilst travelling in an area where the language is spoken. I&#160;can enter unprepared into conversation on topics that are familiar, of personal interest or pertinent to everyday life (e.g. family, hobbies, work, travel and current events).</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Production</td>
							<td data-label="Description">I can connect phrases in a simple way in order to describe experiences and events, my dreams, hopes and ambitions. I&#160;can briefly give reasons and explanations for opinions and plans. I&#160;can narrate a story or relate the plot of a book or film and describe my reactions.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Writing</td>
							<td data-label="Description">I can write simple connected text on topics which are familiar or of personal interest. I&#160;can write personal letters describing experiences and impressions.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>B2</caption>
					<thead>
						<tr>
							<th>Proficiency</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Proficiency">Listening</td>
							<td data-label="Description">I can understand extended speech and lectures and follow even complex lines of argument provided the topic is reasonably familiar. I&#160;can understand most TV news and current affairs programmes. I&#160;can understand the majority of films in standard dialect.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Reading</td>
							<td data-label="Description">I can read articles and reports concerned with contemporary problems in which the writers adopt particular attitudes or viewpoints. I&#160;can understand contemporary literary prose.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Interaction</td>
							<td data-label="Description">I can interact with a degree of fluency and spontaneity that makes regular interaction with native speakers quite possible. I&#160;can take an active part in discussion in familiar contexts, accounting for and sustaining my views.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Production</td>
							<td data-label="Description">I can present clear, detailed descriptions on a wide range of subjects related to my field of interest. I&#160;can explain a viewpoint on a topical issue giving the advantages and disadvantages of various options.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Writing</td>
							<td data-label="Description">I can write clear, detailed text on a wide range of subjects related to my interests. I&#160;can write an essay or report, passing on information or giving reasons in support of or against a particular point of view. I&#160;can write letters highlighting the personal significance of events and experiences.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>C1</caption>
					<thead>
						<tr>
							<th>Proficiency</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Proficiency">Listening</td>
							<td data-label="Description">I can understand extended speech even when it is not clearly structured and when relationships are only implied and not signalled explicitly. I&#160;can understand television programmes and films without too much effort.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Reading</td>
							<td data-label="Description">I can understand long and complex factual and literary texts, appreciating distinctions of style. I&#160;can understand specialised articles and longer technical instructions, even when they do not relate to my field.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Interaction</td>
							<td data-label="Description">I can express myself fluently and spontaneously without much obvious searching for expressions. I&#160;can use language flexibly and effectively for social and professional purposes. I&#160;can formulate ideas and opinions with precision and relate my contribution skilfully to those of other speakers.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Production</td>
							<td data-label="Description">I can present clear, detailed descriptions of complex subjects integrating sub-themes, developing particular points and rounding off with an appropriate conclusion.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Writing</td>
							<td data-label="Description">I can express myself in clear, well- structured text, expressing points of view at some length. I&#160;can write about complex subjects in a letter, an essay or a report, underlining what I&#160;consider to be the salient issues. I&#160;can select style appropriate to the reader in mind.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption>C2</caption>
					<thead>
						<tr>
							<th>Proficiency</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Proficiency">Listening</td>
							<td data-label="Description">I have no difficulty in understanding any kind of spoken language, whether live or broadcast, even when delivered at fast native speed, provided I&#160;have some time to get familiar with the accent.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Reading</td>
							<td data-label="Description">I can read with ease virtually all forms of the written language, including abstract, structurally or linguistically complex texts such as manuals, specialised articles and literary works.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Interaction</td>
							<td data-label="Description">I can take part effortlessly in any conversation or discussion and have a good familiarity with idiomatic expressions and colloquialisms. I&#160;can express myself fluently and convey finer shades of meaning precisely. If&#160;I do have a problem I&#160;can backtrack and restructure around the difficulty so smoothly that other people are hardly aware of it.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Spoken Production</td>
							<td data-label="Description">I can present a clear, smoothly-flowing description or argument in a style appropriate to the context and with an effective logical structure which helps the recipient to notice and remember significant points.</td>
						</tr>
						<tr>
							<td data-label="Proficiency">Writing</td>
							<td data-label="Description">I can write clear, smoothly-flowing text in an appropriate style. I&#160;can write complex letters, reports or articles which present a case with an effective logical structure which helps the recipient to notice and remember significant points. I&#160;can write summaries and reviews of professional or literary works.</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Beginner</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-cefr-beginner.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-cefr-beginner.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Вы не&#160;говорите на&#160;английском. Уровень Beginner&#160;&#8212; это начальный уровень английского языка, первая ступень знаний. Если&#160;вы&#160;никогда ранее не&#160;изучали английский, то курс Beginner&#160;&#8212; именно&#160;то, что вам нужно. Уровень Beginner имеет&#160;то&#160;же буквенное обозначение, что и&#160;Elementary&#160;&#8212; A1. Это&#160;не&#160;случайно. Если&#160;вы&#160;можете построить несколько простых предложений на&#160;английском языке, знаете азы грамматики и&#160;правила чтения, у&#160;вас небольшой словарный запас, то можете смело перешагнуть уровень Beginner и&#160;сразу приступать к&#160;Elementary.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Варианты ответов</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">1. I&#8230; a student</td>
							<td data-label="Вариант ответа">1) is 2) am 3) are 4) be</td>
						</tr>
						<tr>
							<td data-label="Задание">2. &#8230; two sisters</td>
							<td data-label="Вариант ответа">1) There is 2) He is 3) He got 4) He&#8217;s got</td>
						</tr>
						<tr>
							<td data-label="Задание">3. He&#8230; like me</td>
							<td data-label="Вариант ответа">1) no 2) doesn&#8217;t 3) not 4) don&#8217;t</td>
						</tr>
						<tr>
							<td data-label="Задание">4. I&#8217;m English. Where are&#8230; from?</td>
							<td data-label="Вариант ответа">1) you 2) are you 3) are 4) you are</td>
						</tr>
						<tr>
							<td data-label="Задание">5. &#8230; she go to school every day?</td>
							<td data-label="Вариант ответа">1) Do 2) Does 3) Is 4) Are</td>
						</tr>
						<tr>
							<td data-label="Задание">6. &#8230; some books on the table</td>
							<td data-label="Вариант ответа">1) There aren&#8217;t 2) There is 3) There are 4) There isn&#8217;t</td>
						</tr>
						<tr>
							<td data-label="Задание">7. There isn&#8217;t&#8230; cheese in the fridge</td>
							<td data-label="Вариант ответа">1) some 2) a 3) any 4) the</td>
						</tr>
						<tr>
							<td data-label="Задание">8. &#8230; you speak English?</td>
							<td data-label="Вариант ответа">1) Are 2) Can 3) Were 4) Have</td>
						</tr>
						<tr>
							<td data-label="Задание">9. &#8217;What are you doing now?&#8217; &#8217;I&#8230; English&#8217;</td>
							<td data-label="Вариант ответа">1) is 2) study 3) studying 4) am studying</td>
						</tr>
						<tr>
							<td data-label="Задание">10. Do&#160;you like&#8230; in London?</td>
							<td data-label="Вариант ответа">1) lives 2) living 3) lived 4) live</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="mui--text-subhead">Ответы</h3>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Ответ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">1. I&#8230; a student</td>
							<td data-label="Ответ">2) am</td>
						</tr>
						<tr>
							<td data-label="Задание">2. &#8230; two sisters</td>
							<td data-label="Ответ">4) He&#8217;s got</td>
						</tr>
						<tr>
							<td data-label="Задание">3. He&#8230; like me</td>
							<td data-label="Ответ">2) doesn&#8217;t</td>
						</tr>
						<tr>
							<td data-label="Задание">4. I&#8217;m English. Where are&#8230; from?</td>
							<td data-label="Ответ">1) you</td>
						</tr>
						<tr>
							<td data-label="Задание">5. &#8230; she go to school every day?</td>
							<td data-label="Ответ">2) Does</td>
						</tr>
						<tr>
							<td data-label="Задание">6. &#8230; some books on the table</td>
							<td data-label="Ответ">3) There are</td>
						</tr>
						<tr>
							<td data-label="Задание">7. There isn&#8217;t&#8230; cheese in the fridge</td>
							<td data-label="Ответ">3) any</td>
						</tr>
						<tr>
							<td data-label="Задание">8. &#8230; you speak English?</td>
							<td data-label="Ответ">2) Can</td>
						</tr>
						<tr>
							<td data-label="Задание">9. &#8217;What are you doing now?&#8217; &#8217;I&#8230; English&#8217;</td>
							<td data-label="Ответ">4) am studying</td>
						</tr>
						<tr>
							<td data-label="Задание">10. Do&#160;you like&#8230; in London?</td>
							<td data-label="Ответ">2) living</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div></div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Elementary</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-cefr-elementary-a1.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-cefr-elementary-a1.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Вы можете сказать и&#160;понять некоторые слова и&#160;фразы на&#160;английском. Как&#160;правило, на&#160;уровень Elementary ученики приходят уже с&#160;небольшим багажом знаний, полученным на&#160;курсе Beginner, в&#160;школе или другом учебном заведении. Если&#160;ранее вы&#160;изучали английский язык, значит, у&#160;вас уже есть хоть какие-то начальные знания, даже если вам кажется, что вы&#160;учились давно и&#160;ничего не&#160;помните. На&#160;самом деле вы&#160;уже &#171;познакомились&#187; с&#160;английским языком, знаете буквы и&#160;звуки, умеете читать, можете представиться и&#160;сказать простые фразы о&#160;себе, своих друзьях, семье, доме. Этого достаточно для того, чтобы приступить к&#160;учебе на&#160;уровне Elementary.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Варианты ответов</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">11. I&#8230; to the cinema yesterday</td>
							<td data-label="Вариант ответа">1) go 2) gone 3) went 4) was</td>
						</tr>
						<tr>
							<td data-label="Задание">12. Where&#8230; yesterday?</td>
							<td data-label="Вариант ответа">1) did you go 2) went you 3) you go 4) you went</td>
						</tr>
						<tr>
							<td data-label="Задание">13. James&#8230; to play football tomorrow</td>
							<td data-label="Вариант ответа">1) can 2) will 3) is going 4) shall</td>
						</tr>
						<tr>
							<td data-label="Задание">14. John&#160;is good at tennis but Richard is&#8230;</td>
							<td data-label="Вариант ответа">1) good 2) badly 3) better 4) well</td>
						</tr>
						<tr>
							<td data-label="Задание">15. Mary&#8230; that film</td>
							<td data-label="Вариант ответа">1) seen already 2) already seen 3) has already seen 4) have already seen</td>
						</tr>
						<tr>
							<td data-label="Задание">16. I&#8217;ve been inLondon&#8230; last Christmas</td>
							<td data-label="Вариант ответа">1) ago 2) or 3) until 4) since</td>
						</tr>
						<tr>
							<td data-label="Задание">17. I&#8230; for two hours</td>
							<td data-label="Вариант ответа">1) am working 2) work 3) have been working 4) working</td>
						</tr>
						<tr>
							<td data-label="Задание">18. I&#8230; go to the cinema but I&#160;don&#8217;t any more</td>
							<td data-label="Вариант ответа">1) used to 2) did use 3) used 4) use</td>
						</tr>
						<tr>
							<td data-label="Задание">19. Peter doesn&#8217;t like beer and&#8230;</td>
							<td data-label="Вариант ответа">1) neither I&#160;do 2) so do I&#160;3) neither do I&#160;4) so Ido</td>
						</tr>
						<tr>
							<td data-label="Задание">20. I&#160;went to the doctor&#8217;s yesterday and I&#8230; for half an hour</td>
							<td data-label="Вариант ответа">1) must wait 2) had to wait 3) had wait 4) should wait</td>
						</tr>
						<tr>
							<td data-label="Задание">21. I&#8230; television last night when my friend rang</td>
							<td data-label="Вариант ответа">1) have been watching 2) watched 3) have watched 4) was watching</td>
						</tr>
						<tr>
							<td data-label="Задание">22. There was a robbery at the bank last night and all the money&#8230;</td>
							<td data-label="Вариант ответа">1) is stolen 2) has stolen 3) was stolen 4) was being stolen</td>
						</tr>
						<tr>
							<td data-label="Задание">23. I&#8230; to Africa on business</td>
							<td data-label="Вариант ответа">1) am being sent 2) am sent 3) am send 4) be send</td>
						</tr>
						<tr>
							<td data-label="Задание">24. Unless&#8230; hard he&#8217;ll fail the exam</td>
							<td data-label="Вариант ответа">1) he&#8217;ll work 2) he works 3) he worked 4) he&#8217;d work</td>
						</tr>
						<tr>
							<td data-label="Задание">25. If&#160;I were you&#8230; to a doctor</td>
							<td data-label="Вариант ответа">1) I&#160;went 2) I&#8217;ll go 3) I&#160;go 4) I&#8217;d go</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="mui--text-subhead">Ответы</h3>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Ответ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">11. I&#8230; to the cinema yesterday</td>
							<td data-label="Ответ">3) went</td>
						</tr>
						<tr>
							<td data-label="Задание">12. Where&#8230; yesterday?</td>
							<td data-label="Ответ">1) did you go</td>
						</tr>
						<tr>
							<td data-label="Задание">13. James&#8230; to play football tomorrow</td>
							<td data-label="Ответ">3) is going</td>
						</tr>
						<tr>
							<td data-label="Задание">14. John&#160;is good at tennis but Richard is&#8230;</td>
							<td data-label="Ответ">3) better</td>
						</tr>
						<tr>
							<td data-label="Задание">15. Mary&#8230; that film</td>
							<td data-label="Ответ">3) has already seen</td>
						</tr>
						<tr>
							<td data-label="Задание">16. I&#8217;ve been in London&#8230; last Christmas</td>
							<td data-label="Ответ">4) since</td>
						</tr>
						<tr>
							<td data-label="Задание">17. I&#8230; for two hours</td>
							<td data-label="Ответ">3) have been working</td>
						</tr>
						<tr>
							<td data-label="Задание">18. I&#8230; go to the cinema but I&#160;don&#8217;t any more</td>
							<td data-label="Ответ">1) used to</td>
						</tr>
						<tr>
							<td data-label="Задание">19. Peter doesn&#8217;t like beer and&#8230;</td>
							<td data-label="Ответ">3) neither do I</td>
						</tr>
						<tr>
							<td data-label="Задание">20. I&#160;went to the doctor&#8217;s yesterday and I&#8230; for half an hour</td>
							<td data-label="Ответ">2) had to wait</td>
						</tr>
						<tr>
							<td data-label="Задание">21. I&#8230; television last night when my friend rang</td>
							<td data-label="Ответ">4) was watching</td>
						</tr>
						<tr>
							<td data-label="Задание">22. There was a robbery at the bank last night and all the money&#8230;</td>
							<td data-label="Ответ">3) was stolen</td>
						</tr>
						<tr>
							<td data-label="Задание">23. I&#8230; to Africa on business</td>
							<td data-label="Ответ">2) am being sent</td>
						</tr>
						<tr>
							<td data-label="Задание">24. Unless&#8230; hard he&#8217;ll fail the exam</td>
							<td data-label="Ответ">2) he works</td>
						</tr>
						<tr>
							<td data-label="Задание">25. If&#160;I were you&#8230; to a doctor</td>
							<td data-label="Ответ">4) I&#8217;d go</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div></div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Pre-Intermediate</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-cefr-pre-intermediate-a2.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-cefr-pre-intermediate-a2.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Вы можете пообщаться на &#171;простом&#187; английском и&#160;понять собеседника в&#160;знакомой вам ситуации, но с&#160;трудом. Уровень Elementary иногда называют &#171;прожиточным минимумом&#187; туриста. Но&#160;существовать на &#171;прожиточном минимуме&#187; непросто, поэтому Pre-Intermediate level &#171;дает путевку&#187; в&#160;дальнейшее совершенствование своих знаний и&#160;умений. Ступень Pre-Intermediate&#160;&#8212; это важный шаг от&#160;уровня выживания Elementary до&#160;уровня Intermediate, который чаще всего требуют работодатели.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Варианты ответов</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">26. She&#160;liked the film&#8230;?</td>
							<td data-label="Вариант ответа">1) isn&#8217;t it 2) didn&#8217;t she 3) won&#8217;t she 4) doesn&#8217;t she</td>
						</tr>
						<tr>
							<td data-label="Задание">27. I&#160;worked hard&#8230; my exam</td>
							<td data-label="Вариант ответа">1) to pass 2) for pass 3) for passing 4) to passing</td>
						</tr>
						<tr>
							<td data-label="Задание">28. When&#160;I arrived at the station the train&#8230;</td>
							<td data-label="Вариант ответа">1) had already left 2) already left 3) was already left 4) would already leave</td>
						</tr>
						<tr>
							<td data-label="Задание">29. After&#8230; his homework he went to bed</td>
							<td data-label="Вариант ответа">1) finish 2) to finish 3) finished 4) finishing</td>
						</tr>
						<tr>
							<td data-label="Задание">30. I&#8230; go to Spain next year</td>
							<td data-label="Вариант ответа">1) would like 2) like 3) like to 4) would like to</td>
						</tr>
						<tr>
							<td data-label="Задание">31. When&#160;he&#8230; finished the exam, he&#8217;ll be able to talk to you</td>
							<td data-label="Вариант ответа">1) will 2) will have 3) is 4) has</td>
						</tr>
						<tr>
							<td data-label="Задание">32. If&#160;he&#8230; the car immediately the accident wouldn&#8217;t have happened</td>
							<td data-label="Вариант ответа">1) stopped 2) had stopped 3) would stop 4) would have stopped</td>
						</tr>
						<tr>
							<td data-label="Задание">33. If&#160;I had asked the way I&#8230; got lost</td>
							<td data-label="Вариант ответа">1) wouldn&#8217;t have 2) hadn&#8217;t 3) not have 4) won&#8217;t have</td>
						</tr>
						<tr>
							<td data-label="Задание">34. You&#8230; your homework before you came to the lesson!</td>
							<td data-label="Вариант ответа">1) should do 2) should have done 3) should be done 4) should be doing</td>
						</tr>
						<tr>
							<td data-label="Задание">35. By&#160;next year he&#8230; his exams</td>
							<td data-label="Вариант ответа">1) had passed 2) will pass 3) will have passed 4) has passed</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="mui--text-subhead">Ответы</h3>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Ответ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">26. She&#160;liked the film&#8230;?</td>
							<td data-label="Ответ">2) didn&#8217;t she</td>
						</tr>
						<tr>
							<td data-label="Задание">27. I&#160;worked hard&#8230; my exam</td>
							<td data-label="Ответ">1) to pass</td>
						</tr>
						<tr>
							<td data-label="Задание">28. When&#160;I arrived at the station the train&#8230;</td>
							<td data-label="Ответ">1) had already left</td>
						</tr>
						<tr>
							<td data-label="Задание">29. After&#8230; his homework he went to bed</td>
							<td data-label="Ответ">4) finishing</td>
						</tr>
						<tr>
							<td data-label="Задание">30. I&#8230; go to Spain next year</td>
							<td data-label="Ответ">4) would like to</td>
						</tr>
						<tr>
							<td data-label="Задание">31. When&#160;he&#8230; finished the exam, he&#8217;ll be able to talk to you</td>
							<td data-label="Ответ">4) has</td>
						</tr>
						<tr>
							<td data-label="Задание">32. If&#160;he&#8230; the car immediately the accident wouldn&#8217;t have happened</td>
							<td data-label="Ответ">2) had stopped</td>
						</tr>
						<tr>
							<td data-label="Задание">33. If&#160;I had asked the way I&#8230; got lost</td>
							<td data-label="Ответ">1) wouldn&#8217;t have</td>
						</tr>
						<tr>
							<td data-label="Задание">34. You&#8230; your homework before you came to the lesson!</td>
							<td data-label="Ответ">2) should have done</td>
						</tr>
						<tr>
							<td data-label="Задание">35. By&#160;next year he&#8230; his exams</td>
							<td data-label="Ответ">3) will have passed</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div></div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Intermediate</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-cefr-intermediate-b1.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-cefr-intermediate-b1.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Вы можете вполне хорошо говорить и&#160;понимать речь на&#160;слух. Выражаете свои мысли при помощи простых предложений, но&#160;испытываете трудности, сталкиваясь с&#160;более сложными грамматическими конструкциями и&#160;лексикой. Intermediate&#160;&#8212; это так называемый &#171;средний&#187; уровень владения языком, позволяющий достаточно свободно разговаривать на&#160;английском, обсуждать многие профессиональные и&#160;бытовые темы, понимать на&#160;слух практически все сказанное на&#160;английском языке в&#160;обычном темпе. Уровень владения языком B1 позволяет сдавать вступительные экзамены в&#160;российские ВУЗы и на&#160;подготовительные курсы за&#160;рубежом. Однако самое главное в&#160;том, что фактически все работодатели требуют, чтобы их&#160;потенциальные или реальные сотрудники знали английский язык на&#160;уровне не&#160;ниже Intermediate.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Варианты ответов</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">36. I&#8217;ve rung the bell but there&#8217;s no answer. He&#8230; in bed</td>
							<td data-label="Вариант ответа">1) must be 2) will be 3) can be 4) needs to be</td>
						</tr>
						<tr>
							<td data-label="Задание">37. I&#8217;m thinking&#8230; away next Sunday</td>
							<td data-label="Вариант ответа">1) for going 2) to go 3) of going 4) I&#160;go</td>
						</tr>
						<tr>
							<td data-label="Задание">38. Would you mind&#8230; me five dollars</td>
							<td data-label="Вариант ответа">1) to lend 2) lending 3) lent 4) going to lend</td>
						</tr>
						<tr>
							<td data-label="Задание">39. He&#160;didn&#8217;t look when crossing the road. He&#8230; in a hurry</td>
							<td data-label="Вариант ответа">1) must have been 2) had to be 3) might to be 4) should have been</td>
						</tr>
						<tr>
							<td data-label="Задание">40. &#8230; two tickets for the cinema</td>
							<td data-label="Вариант ответа">1) I&#8217;m given 2) They&#8217;re given 3) I&#8217;ve been given 4) I&#8217;ve given</td>
						</tr>
						<tr>
							<td data-label="Задание">41. I&#8217;ve been sitting in the classroom&#8230;</td>
							<td data-label="Вариант ответа">1) for myself 2) in my own 3) by myself 4) only myself</td>
						</tr>
						<tr>
							<td data-label="Задание">42. I&#8217;m looking forward&#8230; you again</td>
							<td data-label="Вариант ответа">1) to see 2) seeing 3) to seeing 4) of seeing</td>
						</tr>
						<tr>
							<td data-label="Задание">43. He&#8230; eaten something before going to school</td>
							<td data-label="Вариант ответа">1) should 2) must 3) had to 4) ought to have</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="mui--text-subhead">Ответы</h3>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Ответ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">36. I&#8217;ve rung the bell but there&#8217;s no answer. He&#8230; in bed</td>
							<td data-label="Ответ">1) must be</td>
						</tr>
						<tr>
							<td data-label="Задание">37. I&#8217;m thinking&#8230; away next Sunday</td>
							<td data-label="Ответ">3) of going</td>
						</tr>
						<tr>
							<td data-label="Задание">38. Would you mind&#8230; me five dollars</td>
							<td data-label="Ответ">2) lending</td>
						</tr>
						<tr>
							<td data-label="Задание">39. He&#160;didn&#8217;t look when crossing the road. He&#8230; in a hurry</td>
							<td data-label="Ответ">1) must have been</td>
						</tr>
						<tr>
							<td data-label="Задание">40. &#8230; two tickets for the cinema</td>
							<td data-label="Ответ">3) I&#8217;ve been given</td>
						</tr>
						<tr>
							<td data-label="Задание">41. I&#8217;ve been sitting in the classroom&#8230;</td>
							<td data-label="Ответ">3) by myself</td>
						</tr>
						<tr>
							<td data-label="Задание">42. I&#8217;m looking forward&#8230; you again</td>
							<td data-label="Ответ">3) to seeing</td>
						</tr>
						<tr>
							<td data-label="Задание">43. He&#8230; eaten something before going to school</td>
							<td data-label="Ответ">4) ought to have</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div></div>
		<div class="card-wrap">
			<h2 class="mui--text-title">Upper-Intermediate</h2>
			<figure class="data-src-img-figure"><a href="./libs/serguei-muicss/img/serguei-gallery/@2x/serguei-cefr-upper-intermediate-b2.jpg" class="img-lightbox-link" target="_blank" rel="lightbox" aria-hidden="true"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20480%20270%27%2F%3E" data-src="./libs/serguei-muicss/img/serguei-gallery/@1x/serguei-cefr-upper-intermediate-b2.jpg" class="data-src-img" alt="Illustration / Иллюстрация" /></a><figcaption class="mui--text-caption"></figcaption></figure>
			<p class="dummy">Вы хорошо говорите и&#160;понимаете английскую речь на&#160;слух, но&#160;все&#160;же можете допускать ошибки. Upper-Intermediate образно называют уровнем, на&#160;котором &#171;подтягивают все хвосты&#187;. И&#160;это действительно так, ведь, дойдя до&#160;такого достаточно высокого уровня, ученики должны быть знакомы со&#160;всеми основными грамматическими конструкциями английского языка. Таким образом, их&#160;знания на&#160;этом уровне закрепляются, систематизируются и&#160;дополняются более сложными случаями использования все тех&#160;же модальных глаголов, времен, условных предложений и&#160;так&#160;далее.</p>
			<p class="mui--text-button btn-expand-hidden-layer">ВЕСЬ МАТЕРИАЛ</p><div class="holder-hidden-layer">
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Варианты ответов</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">44. If&#160;all the hotels are full you&#8230; phone this number</td>
							<td data-label="Вариант ответа">1) would better 2) had rather 3) had better 4) would rather</td>
						</tr>
						<tr>
							<td data-label="Задание">45. It&#8217;s high time you&#8230; some work!</td>
							<td data-label="Вариант ответа">1) would do 2) have done 3) do 4) did</td>
						</tr>
						<tr>
							<td data-label="Задание">46. I&#160;wish I&#8230; that</td>
							<td data-label="Вариант ответа">1) didn&#8217;t 2) not say 3) hadn&#8217;t said 4) don&#8217;t say</td>
						</tr>
						<tr>
							<td data-label="Задание">47. Take&#160;that umbrella in case it&#8230;</td>
							<td data-label="Вариант ответа">1) has rained 2) rains 3) will rain 3) rain</td>
						</tr>
						<tr>
							<td data-label="Задание">48. Inspite of&#8230; late she caught the bus</td>
							<td data-label="Вариант ответа">1) she was 2) her 3) she&#8217;s 4) being</td>
						</tr>
						<tr>
							<td data-label="Задание">49. Providing that&#8230; hard she will pass the exam</td>
							<td data-label="Вариант ответа">1) she&#8217;ll study 2) she&#8217;ll be studying 3) she studies 4) she&#8217;s studying</td>
						</tr>
						<tr>
							<td data-label="Задание">50. He&#160;suffers&#8230; hay fever every summer</td>
							<td data-label="Вариант ответа">1) in 2) from 3) of 4) on</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 class="mui--text-subhead">Ответы</h3>
			<div class="mui-table-wrapper">
				<table class="mui-table mui-table--bordered">
					<caption></caption>
					<thead>
						<tr>
							<th>Задание</th>
							<th>Ответ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-label="Задание">44. If&#160;all the hotels are full you&#8230; phone this number</td>
							<td data-label="Ответ">3) had better</td>
						</tr>
						<tr>
							<td data-label="Задание">45. It&#8217;s high time you&#8230; some work!</td>
							<td data-label="Ответ">4) did</td>
						</tr>
						<tr>
							<td data-label="Задание">46. I&#160;wish I&#8230; that</td>
							<td data-label="Ответ">3) hadn&#8217;t said</td>
						</tr>
						<tr>
							<td data-label="Задание">47. Take&#160;that umbrella in case it&#8230;</td>
							<td data-label="Ответ">2) rains</td>
						</tr>
						<tr>
							<td data-label="Задание">48. Inspite of&#8230; late she caught the bus</td>
							<td data-label="Ответ">4) being</td>
						</tr>
						<tr>
							<td data-label="Задание">49. Providing that&#8230; hard she will pass the exam</td>
							<td data-label="Ответ">3) she studies</td>
						</tr>
						<tr>
							<td data-label="Задание">50. He&#160;suffers&#8230; hay fever every summer</td>
							<td data-label="Ответ">2) from</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div></div>
		<div class="card-wrap card-wrap--copyright">
			<h3 class="mui--text-subhead">Правовые положения</h3>
			<p class="mui--text-caption">Все рекламные предложения не&#160;являются публичной офертой или приглашением к&#160;вступлению в&#160;правоотношения.</p>
			<h3 class="mui--text-subhead">Принадлежность</h3>
			<p class="mui--text-caption">Автор и&#160;владелец данного интернет-ресурса не&#160;имеет отношения к&#160;представленным товарам или услугам, бизнесам, на&#160;ресурсы которых размещены ссылки; не&#160;получает комиссии или гонорары за&#160;рекомендации, никак не&#160;связан с&#160;продавцами упомянутых наименований.</p>
			<h3 class="mui--text-subhead">Фото</h3>
			<p class="mui--text-caption"><a href="https://www.flickr.com/photos/englishextra/albums/72157694410206950" target="_blank" rel="noopener">&#169;&#160;2018 serguei-gallery by englishextra</a></p>
			<h3 class="mui--text-subhead">Иллюстрации</h3>
			<p class="mui--text-caption"><a href="http://ege.edu.ru/ru/main/information_materials/" target="_blank" rel="noopener">&#169;&#160;2018 Федеральная служба по&#160;надзору в&#160;сфере образования и&#160;науки Российской Федерации</a></p>
			<h3 class="mui--text-subhead">Графика</h3>
			<p class="mui--text-caption"><a href="https://material.io/tools/icons/" target="_blank" rel="noopener">&#169;&#160;2018 Material icons by&#160;Google</a></p>
			<h3 class="mui--text-subhead">Иcходный год</h3>
			<p class="mui--text-caption"><a href="https://gitlab.com/englishextra/englishextra.gitlab.io" target="_blank" rel="noopener">gitlab.com/englishextra/englishextra.gitlab.io</a></p>
			<h3 class="mui--text-subhead">Использование</h3>
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
			<table style="border:none;">
				<caption></caption>
				<tbody>
					<tr>
						<td class="mui--text-caption" style="border:none;">
							<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank" aria-label="Лицензия">
								<svg class="site-logo-icon" style="width:5.500rem;height:1.938rem;">
									<use xlink:href="#custom-by-nd-88x31"></use>
								</svg>
							</a>
						</td>
						<td class="mui--text-caption" style="border:none;">&#160;</td>
						<td class="mui--text-caption" style="border:none;">
							Это произведение доступно по&#160;<a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">лицензии Creative Commons С&#160;указанием авторства-Без&#160;производных&#160;4.0 Всемирная</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<template><footer id="footer">
	<div class="mui-container-fluid">
		<div class="mui-row">
			<div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 mui-col-sm-offset-0">
				<div class="mui-col-xs-12 mui-col-md-12 mui-col-lg-12 mui-col-xl-12">
								<p class="copyright">
									<a href="javascript:void(0);" onclick="var a='mailto',b=':',c='englishextra2',k='%40',q='yahoo',s='.',v='com';this.href=a+b+c+k+q+s+v;" target="_blank">&#169;&#160;2006&#8212;2018&#160;englishextra</a>
									&#160;&#160; <a href="https://creativecommons.org/licenses/by-nd/4.0/deed.ru" rel="license" target="_blank">Копирование</a>
									&#160;&#160; <a href="/terms.html">Соглашение</a>
									&#160;&#160; <a href="/policy.html">Конфиденциальность</a>
								</p>
				</div>
			</div>
		</div>
	</div>
</footer></template>
