/*! @import "main"; */

/*!
 * main
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {
	font-size: 15px;
	line-height: 20px;
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.333rem;
	width: 100%;
	color: $color-hex-body-text;
	background-color: $color-hex-page-bg;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $color-rgba-selection-text;
	background-color: $color-rgba-selection-bg;
}

::placeholder {
	color: $PlaceholderText !important;
	opacity: 1;
}

/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */

.cf:after {
	content: "";
	display: table;
	clear: both;
}

/*!
 * fit width
 */

.fit-width {
	min-width: 100%;
}

/*!
 * fit half width
 */

.fit-half-width {
	min-width: 50%;
}

/*!
 * hide and show on mobile
 */

.page .show-inline-on-mobile,
.page .show-block-on-mobile {
	display: none;
}

@media handheld, only screen and (max-width: 800px) {
	.page .hide-on-mobile {
		display: none;
		width: 0;
		height: 0;
	}

	.page .show-inline-on-mobile {
		display: inline;
	}

	.page .show-block-on-mobile {
		display: block;
	}
}

/*!
 * other
 */

.page {
	width: 100%;
	/**
	 * set the parent to min height 100%, not just height
	 * and position relative to parent, absolute for child
	 */
	min-height: 100%;
	position: relative;
	top: 0;
	/* left: 18.133rem; */
	left: 0;
	visibility: visible;
	opacity: 1;
	transition: left 0.2s linear, opacity 0.2s ease;
	background-color: $color-hex-page-bg;
}

.page img,
.masonry-grid img {
	display: block;
}

.container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
}

/*!
 * filtering controls
 */

.holder-filter-controls {
	width: 98%;
	height: 0;
	visibility: hidden;
	user-select: none;
	margin: 0 auto -2% auto;
}

.holder-filter-controls.visible {
	height: auto;
	visibility: visible;
	margin-bottom: 0;
}

.holder-filter-buttons {
	/**
	 * @see {@link https://stackoverflow.com/questions/8543859/css-vertical-alignment-text-inside-li}
	 */
	display: table;
	width: 100%;
	/**
	 * @see {@link https://css-tricks.com/fighting-the-space-between-inline-block-elements/}
	 */
	font-size: 0;
	text-align: center;
	background-color: $color-hex-ui-button-bg;
	padding: 0;
	margin: 0;
}

.holder-filter-buttons li,
.holder-filter-buttons li:active,
.holder-filter-buttons li:focus {
	display: table-cell;
	min-width: 7.500rem;
	height: 2.250rem;
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 300;
	font-size: 0.875rem;
	vertical-align: middle;
	color: #FFFFFF;
	background-color: $color-hex-ui-button-bg;
	border: 0.067rem solid $color-hex-ui-button-bg;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.holder-filter-buttons li:hover,
.holder-filter-buttons li.is-active {
	background-color: $color-hex-hover-ui-button-bg;
	border: 0.067rem solid $color-hex-hover-ui-button-bg;
}

/* .holder-filter-buttons li:first-child {
	border-radius: 0.313rem 0 0 0.313rem;
}

.holder-filter-buttons li:last-child {
	border-radius: 0 0.313rem 0.313rem 0;
} */

.holder-filter-select {
	display: none;
	padding: 0;
	margin: 0;
}

.filter-select,
.filter-select:active,
.filter-select:focus {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 300;
	font-size: 0.875rem;
	display: block;
	width: 100%;
	height: 2.250rem;
	text-align: center;
	color: #FFFFFF;
	background-color: $color-hex-ui-button-bg;
	border: 0.067rem solid $color-hex-ui-button-bg;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.filter-select option {
	padding: 0.500rem;
}

.filter-select option:hover,
.filter-select option:active,
.filter-select option:focus,
.filter-select option:checked {
	box-shadow: inset 2.250rem 2.250rem $color-hex-hover-ui-button-bg;
}

@media handheld,only screen and (max-width:1080px) {
	.holder-filter-buttons {
		display: none;
	}

	.holder-filter-select {
		display: block;
	}
}

.footer {
	font-size: 0.813rem;
	font-weight: 400;
	text-align: center;
	/* padding: 0 1.000rem; */
	padding: 0 1%;
}

.footer p {
	margin: 0;
}

.footer a {
	color: inherit;
	text-decoration: underline;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */
.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.200rem;
	height: 3.200rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.333rem;
	line-height: 3.200rem;
	text-align: center;
	text-decoration: none;
	color: $color-hex-gray-text;
	background-color: $color-hex-ui-icon-bg;
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.ui-totop:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
}
.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}
.ui-totop:hover {
	background-color: $color-hex-hover-ui-icon-bg;
}
/* .ui-totop:focus, */
.ui-totop:active {
	color: $color-hex-body-text;
	background-color: $AccentColor;
}

/*!
 * @see {@link https://gist.github.com/englishextra/40b7c4ffde33bfb58aff259afe229d6a}
 */

/*------------------------------------------
 Foundation Media Queries
  http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */

@media only screen {
	html {
		font-size: 12px;
	}
}

/* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
	html {
		font-size: 13px;
	}
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */

@media only screen and (min-width: 40.063em) {
	html {
		font-size: 13px;
	}
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	html {
		font-size: 15px;
	}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */

@media only screen and (min-width: 64.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */

@media only screen and (min-width: 90.063em) {
	html {
		font-size: 15px;
	}
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 18px;
	}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */

@media only screen and (min-width: 120.063em) {
	html {
		font-size: 19px;
	}
}

/* min-width 1921px, xlarge screens */
