html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Segoe UI", "Segoe WP", "HelveticaNeue", "Roboto", "Source Sans Pro", "Open Sans", "Exo2", "Fira Sans", sans-serif;
	font-weight: 400;
	color: #171717;
	background-color: #0B0B0B;
}

.title-bar {
	height: 2.250em;
	line-height: 1.500em;
	font-size: 1em;
	padding: 0.750em 0 0 0;
	background-color: #1F1F1F;
	/* text-align: center; */
	line-height: 1.500em;
}

.title-bar a:link,
.title-bar a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.title-bar a:hover {
	color: #F03B4C;
}

.title-bar-icon {
	display: block;
	width: 1.250em;
	height: 1.250em;
	position: relative;
	top: 0.125em;
	/* background-color: red; */
}

.title-bar-icon > * {
	fill: #FFFFFF;
}

.btn-title-bar {
	display: inline-block;
	position: absolute;
	color: #FFFFFF;
}

.btn-title-bar.back {
	left: 0.750em;
}

.btn-title-bar.title {
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
}

.btn-title-bar.repo {
	right: 0.750em;
}
