@function encodecolor($string) {
	@if type-of($string)=='color' {
		$hex: str-slice(ie-hex-str($string), 4);
		$string:unquote("#{$hex}");
	}

	$string: '%23'+$string;
	@return $string;
}

/*!
 * root
 */

/*!
 * Default CSS Values for HTML Elements
 * @see {@link https://www.w3schools.com/cssref/css_default_values.asp}
 */

html,
body {
	height: 100%;
}

html {

	/* font-size: 15px;
	line-height: 20px; */
	/**
	 * set the parent to background transparent
	 * and position relative to parent, absolute for child
	 */
	background-color: transparent;
}

body {
	font-family: "Roboto", $font-family-local-sans-regular;
	font-weight: 400;
	/* font-size: 1.000rem;
	line-height: 1.333rem; */
	width: 100%;
	color: $clr-grey-900;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	overflow-x: hidden;
	/* user-select: none; */
	margin: 0;
	padding: 0;
	/*!
	 * @see {@link https://css-tricks.com/couple-takes-sticky-footer/}
	 * Sticky Footer
	 * The position relative on body is required to make it work.
	 */
}

/*!
 * englishextra specific rules
 */

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:active,
button:focus,
button:active,
select:focus,
select:active {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

b,
strong,
.bolder {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

*,
*:after,
*::before {
	box-sizing: border-box;
}

::selection {
	color: $clr-grey-900;
	background-color: $clr-light-blue-100;
}

::placeholder {
	color: $clr-grey-600 !important;
	opacity: 1;
}

html,
body,
input,
textarea,
button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/*!
 * site-logo
 */

.site-logo {
	display: block;
	/* 119x56 */
	width: 7.438rem;
	height: 3.500rem;
	position: absolute;
	top: 0;
	left: 3.500rem;
	transform: translate(0);
	/* background-color: yellow; */
	margin: 0;
}

.site-logo:focus,
.site-logo:hover,
.site-logo:active {
	text-decoration: none;
}

.no-svg .site-logo {
	background-image: url(../img/site-logo/site-logo-136x64.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	/* 119x56 */
	background-size: 7.438rem 3.500rem;
}

.no-svg .site-logo .site-logo-icon {
	display: none;
}

.site-logo .site-logo-icon {
	display: block;
	/* 102x48 */
	width: 6.375rem;
	height: 3.000rem;
	/*! @see {@link https://www.w3.org/Style/Examples/007/center.en.html#hv3} */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@media (orientation: landscape) and (max-height: 480px) {
	.site-logo {
		left: 3.000rem;
		/* 102x48 */
		width: 6.375rem;
		height: 3.000rem;
	}

	.no-svg .site-logo {
		/* 102x48 */
		background-size: 6.375rem 3.000rem;
	}

	.site-logo .site-logo-icon {
		/* 102x48 */
		width: 6.375rem;
		height: 3.000rem;
	}
}

@media (min-width: 480px) {
	.site-logo {
		left: 4.000rem;
		/* 136x64 */
		width: 8.500rem;
		height: 4.000rem;
	}

	.no-svg .site-logo {
		/* 136x64 */
		background-size: 8.500rem 4.000rem;
	}

	.site-logo .site-logo-icon {
		/* 119x56 */
		width: 7.438rem;
		height: 3.500rem;
	}
}

/*!
 * mui-appbar
 */

.mui-appbar {
	color: $clr-grey-700;
	background-color: #FFFFFF;
}

.mui-appbar__ui-button {
	display: block;
	/* 56x56 */
	width: 3.500rem;
	height: 3.500rem;
	cursor: pointer;
	/*! @see {@link https://www.w3.org/Style/Examples/007/center.en.html} */
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.mui-appbar__ui-button:focus,
.mui-appbar__ui-button:hover,
.mui-appbar__ui-button:active {
	text-decoration: none;
}

.mui-appbar__ui-button .ui-icon {
	display: block;
	/* 24x24 */
	width: 1.500rem;
	height: 1.500rem;
	/*! @see {@link https://www.w3.org/Style/Examples/007/center.en.html#hv3} */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.mui-appbar__ui-button .ui-icon > * {
	fill: currentColor;
}

.mui-appbar__ui-button--menu {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0);
}

.mui-appbar__ui-button--phone {
	float: left;
	position: absolute;
	/* 56x56 */
	left: 10.938rem;
}

.mui-appbar__ui-button--vk,
.mui-appbar__ui-button--map-maker,
.mui-appbar__ui-button--qrcode {
	float: right;
	position: absolute;
	right: 3.500rem;
}

.mui-appbar__ui-button--more {
	float: right;
	position: absolute;
	right: 0;
}

@media (orientation:landscape) and (max-height: 480px) {
	.mui-appbar__ui-button {

		/* 48x48 */
		width: 3.000rem;
		height: 3.000rem;
	}

	.mui-appbar__ui-button--phone {
		/* 48x48 */
		left: 9.375rem;
	}

	.mui-appbar__ui-button--vk,
	.mui-appbar__ui-button--map-maker {
		right: 3.000rem;
	}
}

@media (min-width: 480px) {
	.mui-appbar__ui-button {

		/* 64x64 */
		width: 4.000rem;
		height: 4.000rem;
	}

	.mui-appbar__ui-button--phone {
		/* 64x64 */
		left: 12.500rem;
	}

	.mui-appbar__ui-button--vk,
	.mui-appbar__ui-button--map-maker{
		right: 4.000rem;
	}
}

/*!
 * mui-row
 */

/* .mui-row {
	margin-left: -1.875rem;
	margin-right: -1.875rem;
}

@media (orientation: landscape) and (max-height: 480px) {
	.mui-row {
		margin-left: -1.875rem;
		margin-right: -1.875rem;
	}
}

@media (min-width: 480px) {
	.mui-row {
		margin-left: -0.938rem;
		margin-right: -0.938rem;
	}
} */

/*!
 * mui-panel
 */

.mui-panel {
	border: none;
	border-radius: 0.125rem;
	/* box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12); */
	box-shadow: 0 0.063rem 0.063rem 0 rgba(0, 0, 0, 0.16), 0 0 0.063rem 0 rgba(0, 0, 0, 0.12);
	/*!
	 * remove left and right margin on mobile
	 */
	padding: 0.938rem 0;
}

@media (orientation: landscape) and (max-height: 480px) {
	.mui-panel {
		padding: 0.938rem 0;
	}
}

@media (min-width: 480px) {
	.mui-panel {
		padding: 0.938rem;
	}
}

/*!
 * remove top margin of the first child of mui-panel
 */

.mui-panel *:first-child {
	margin-top: 0;
}

/*!
 * make gap above the first mui-panel and mui-appbar
 */

.mui-container-fluid .mui-row:first-child *[class*=mui-col-]:first-child .mui-panel:first-child {
	margin-top: 1.250rem;
}

/*!
 * fix top margin of first child
 * @see {@link https://github.com/muicss/mui/issues/278}
 */

.mui-panel *[class*=mui-col-md-] h1:first-child,
.mui-panel *[class*=mui-col-md-] h2:first-child,
.mui-panel *[class*=mui-col-md-] p:first-child	{
	margin-top: 0.938rem;
}

.mui-panel *[class*=mui-col-md-]:first-child h1:first-child,
.mui-panel *[class*=mui-col-md-]:first-child h2:first-child,
.mui-panel *[class*=mui-col-md-]:first-child p:first-child {
	margin-top: 0;
}

@media (min-width: 544px) {
	.mui-panel *[class*=mui-col-md-] h1:first-child,
	.mui-panel *[class*=mui-col-md-] h2:first-child,
	.mui-panel *[class*=mui-col-md-] p:first-child	{
		margin-top: 0.938rem;
	}

	.mui-panel *[class*=mui-col-md-]:first-child h1:first-child,
	.mui-panel *[class*=mui-col-md-]:first-child h2:first-child,
	.mui-panel *[class*=mui-col-md-]:first-child p:first-child {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.mui-panel *[class*=mui-col-md-] h1:first-child,
	.mui-panel *[class*=mui-col-md-] h2:first-child,
	.mui-panel *[class*=mui-col-md-] p:first-child {
		margin-top: 0.938rem;
	}

	.mui-panel *[class*=mui-col-md-]:first-child h1:first-child,
	.mui-panel *[class*=mui-col-md-]:first-child h2:first-child,
	.mui-panel *[class*=mui-col-md-]:first-child p:first-child {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.mui-panel *[class*=mui-col-md-] h1:first-child,
	.mui-panel *[class*=mui-col-md-] h2:first-child,
	.mui-panel *[class*=mui-col-md-] p:first-child	{
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.mui-panel *[class*=mui-col-md-] h1:first-child,
	.mui-panel *[class*=mui-col-md-] h2:first-child,
	.mui-panel *[class*=mui-col-md-] p:first-child	{
		margin-top: 0;
	}
}

/*!
 * custom mui-panel
 */

.mui-panel--skeleton {
	padding: 0;
	margin-bottom: 1.250rem;
	margin-right: -0.938rem;
	margin-left: -0.938rem;
}

.mui-panel--skeleton:before, .mui-panel--skeleton:after {
	content: " ";
	display: table;
}

.mui-panel--skeleton:after {
	clear: both;
}

.mui-panel--skeleton h2:first-child {
	margin-top: 0;
}

/*!
 * mui-dropdown
 */

.mui-dropdown__menu {
	display: block;
	min-width: 10.000rem;
	max-height: 15.000rem;
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	/* border: 0.063rem solid $clr-grey-300; */
	border-radius: 0.125rem;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	padding: 0;
	margin: 0;
	user-select: none;
	transition: visibility 0s, opacity 0.2s ease;
}

.mui-dropdown__menu.is-active {
	visibility: visible;
	opacity: 1;
}

.mui-dropdown__menu > li > a {
	display: block;
	height: 3.000rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.875rem;
	line-height: 3.000rem;
	text-decoration: none;
	border: none;
	padding: 0 1.250rem;
}

.mui-dropdown__menu > li > a:focus,
.mui-dropdown__menu > li > a:hover,
.mui-dropdown__menu > li > a:active {
	text-decoration: none;
	background-color: $custom-color-highlight-hover;
}

/*!
 * mui-btn
 */

.card-wrap .mui-btn {
	color: inherit;
	text-decoration: none;
}

.card-wrap .mui-btn:focus,
.card-wrap .mui-btn:hover,
.card-wrap .mui-btn:active {
	text-decoration: none;
}

.mui-btn.mui-btn--primary,
.mui-btn.mui-btn--danger,
.mui-btn.mui-btn--accent {
	color: #FFFFFF;
}

.mui-btn.mui-btn--primary {
	background-color: $custom-color-primary;
}

.mui-btn.mui-btn--danger {
	background-color: $clr-red-500;
}

.mui-btn.mui-btn--accent {
	background-color: $clr-deep-orange-500;
}

.mui-btn.mui-btn--primary:focus,
.mui-btn.mui-btn--primary:hover,
.mui-btn.mui-btn--primary:active {
	background-color: $clr-light-blue-400;
}

.mui-btn.mui-btn--danger:focus,
.mui-btn.mui-btn--danger:hover,
.mui-btn.mui-btn--danger:active {
	background-color: $clr-red-400;
}

.mui-btn.mui-btn--accent:focus,
.mui-btn.mui-btn--accent:hover,
.mui-btn.mui-btn--accent:active {
	background-color: $clr-deep-orange-400;
}

.mui-btn.mui-btn--flat.mui-btn--primary {
	color: $clr-light-blue-800;
	background-color: transparent;
}

.mui-btn.mui-btn--flat.mui-btn--primary:focus,
.mui-btn.mui-btn--flat.mui-btn--primary:hover,
.mui-btn.mui-btn--flat.mui-btn--primary:active {
	background-color: $clr-grey-200;
}

/*!
 * app-content
 */

.card-wrap h1 {
	font-weight: 400;
}

.card-wrap img,
.card-wrap iframe {
	display: block;
	width: 100%;
}

.card-wrap figcaption a {
	color: inherit;
	text-decoration: none;
}

.card-wrap .data-src-img,
.card-wrap .data-src-iframe {
	background-color: $clr-grey-200;
}

.card-wrap a {
	color: $clr-light-blue-800;
}

.card-wrap a:focus,
.card-wrap a:hover,
.card-wrap a:active {
	text-decoration: underline;
}

/*!
 * hljs
 */

/* .card-wrap pre {
	padding: 0;
	margin: 0;
} */

.card-wrap pre code {
	font-family: "Roboto Mono", $font-family-local-monospace;
	font-size: 0.813rem;
	line-height: 1.188rem;
	padding: 0.938rem 1.250rem;
}

/*!
 * custom large-btn
 */

.card-wrap .mui-btn.large-btn-link {
	display: block;
	width: 100%;
	height: 10.000rem;
	color: $custom-color-primary;
	background-color: $clr-grey-200;
	border-radius: 0.125rem;
	cursor: pointer;
}

.card-wrap .mui-btn.large-btn-link:focus,
.card-wrap .mui-btn.large-btn-link:hover,
.card-wrap .mui-btn.large-btn-link:active {
	text-decoration: none;
}

.card-wrap .mui-btn.large-btn-link .large-btn-icon {
	display: block;
	width: 10.000rem;
	height: 10.000rem;
	padding: 1.000rem;
	/* background-color: red; */
	/*! @see {@link https://www.w3.org/Style/Examples/007/center.en.html#hv3} */
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.card-wrap .mui-btn.large-btn-link .large-btn-icon > * {
	fill: currentColor;
}

/*!
 * mui-table
 */

.mui-table-wrapper {
	width: 100%;
	overflow: auto;
}

.mui-table-wrapper + p,
.mui-table-wrapper + .mui-table-wrapper {
	margin-top: 0.667rem;
}

.card-wrap .mui-table:last-child {
	margin-bottom: 0;
}

.card-wrap .mui-table caption {
	font-weight: 400;
	font-size: 0.750rem;
	line-height: 1.000rem;
	font-style: italic;
	text-align: left;
}

/*!
 * responsive table
 */

/* .card-wrap .mui-table--bordered {
	width: auto;
} */

.card-wrap .mui-table--bordered {
	width: 100%;
}

/* .card-wrap .mui-table--bordered {
	border: none;
	border-top-width: 0.063rem;
	border-top-style: solid;
	border-top-color: rgba(0, 0, 0, 0.12);
	border-right-width: 0.063rem;
	border-right-style: solid;
	border-right-color: rgba(0, 0, 0, 0.12);
	border-left-width: 0.063rem;
	border-left-style: solid;
	border-left-color: rgba(0, 0, 0, 0.12);
}

.card-wrap .mui-table--bordered th {
	border: none;
	border-bottom-width: 0.063rem;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.12);
}

.card-wrap .mui-table--bordered td {
	border: none;
	border-bottom-width: 0.063rem;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.12);
}

.card-wrap .mui-table--bordered td.with-img-only {
	padding: 0.500rem;
} */

@media screen and (max-width: 639px) {
	.card-wrap .mui-table--bordered {
		border: none;
	}

	.card-wrap .mui-table--bordered td {
		display: block;
	}

	.card-wrap .mui-table--bordered,
	.card-wrap .mui-table--bordered tr,
	.card-wrap .mui-table--bordered td {
		width: 100%;
		box-sizing: border-box;
	}

	.card-wrap .mui-table--bordered tr {
		float: left;
		position: relative;
		border: 0.063rem solid rgba(0, 0, 0, 0.12);
		border-bottom: none;
		margin-bottom: 0.938rem;
	}

	.card-wrap .mui-table--bordered tr:last-child {
		margin-bottom: 0;
	}

	.card-wrap .mui-table--bordered thead,
	.card-wrap .mui-table--bordered tfoot {
		display: none;
	}

	.card-wrap .mui-table--bordered td::before {
		display: block;
		float: left;
		content: attr(data-label);
		font-weight: bold;
		text-align: right;
		padding-right: 0.625rem;
	}
}

/*!
 * minigrid
 */

.card-grid {
	width: 100%;
	/* max-width: 1280px; */
	margin: 0 auto;
	/* transition: visibility 0s, opacity 0.2s ease; */
	position: relative;
	/* top: 3.200rem; */
	/* background-color: red; */
}

.card-grid:before,
.card-grid:after {
	content: " ";
	display: table;
}

.card-grid:after {
	clear: both;
}

.card-grid--no-js {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.card-grid--no-js:before,
.card-grid--no-js:after {
	content: " ";
	display: table;
}

.card-grid--no-js:after {
	clear: both;
}

.card-grid--no-js .card-wrap {
	margin: 1.250rem;
}

.card-wrap {
	/* width: 280px; */
	width: 17.500rem;
	/* width: 33.333333%; */
	overflow: hidden;
	background-color: #FFFFFF;
	/* box-shadow: 0 0.333em 0.333em 0 $color-rgba-card-shadow; */
	/*!
	 * if transition set, all the images will be loaded
	 */
	/* transition: transform 0.4s ease-out; */
	/* border: 0.067rem solid $color-rgba-card-shadow;
	border-radius: 0.200rem;
	box-shadow: 0 0.133rem 0 $color-rgba-card-shadow; */
	border: none;
	border-radius: 0.125rem;
	box-shadow: 0 0.063rem 0.063rem 0 rgba(0, 0, 0, 0.16), 0 0 0.063rem 0 rgba(0, 0, 0, 0.12);
	padding: 0.938rem;
}

@media (min-width: 360px) {
	.card-wrap {
		/* width: 320px; */
		width: 20.000rem;
	}
}

@media (min-width: 480px) {
	.card-wrap {
		/* width: 440px; */
		width: 27.500rem;
	}
}

@media (min-width: 640px) {
	.card-wrap {
		/* width: 480px; */
		width: 30.000rem;
	}
}

@media (min-width: 960px) {
	.card-wrap {
		/* width: 440px; */
		width: 27.500rem;
	}
}

@media (min-width: 1024px) {
	.card-wrap {
		/* width: 480px; */
		width: 30.000rem;
	}
}

@media (min-width: 1280px) {
	.card-wrap {
		/* width: 400px; */
		width: 25.000rem;
	}
}

.card-wrap h1:first-child,
.card-wrap h2:first-child,
.card-wrap h3:first-child,
.card-wrap p:first-child,
.card-wrap .data-src-img-figure:first-child {
	margin-top: 0;
}

.card-wrap .data-src-img-figure:last-child {
	margin-bottom: 0;
}

.card-wrap .data-src-img-figure,
.card-wrap .ymap-iframe-wrapper {
	margin-right: -1.250rem;
	margin-left: -1.250rem;
}

.card-wrap .data-src-img-figure figcaption {
	margin-right: 1.250rem;
	margin-left: 1.250rem;
}

.card-wrap.card-wrap--skeleton {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

.card-wrap.card-wrap--skeleton.is-active {
	box-shadow: 0 0.063rem 0.063rem 0 rgba(0, 0, 0, 0.16), 0 0 0.063rem 0 rgba(0, 0, 0, 0.12);
}

.card-wrap.card-wrap--skeleton .ymap-iframe-wrapper {
	margin-right: 0;
	margin-left: 0;
}

.card-wrap.card-wrap--skeleton .vk-post,
.card-wrap.card-wrap--skeleton .instagram-media,
.card-wrap.card-wrap--skeleton .twitter-tweet,
.card-wrap.card-wrap--skeleton .instagram-media.instagram-media-rendered,
.card-wrap.card-wrap--skeleton .twitter-tweet.twitter-tweet-rendered {
	margin: 0 !important;
}

.card-wrap--banner-dark {
	color: #FFFFFF;
	background-color: $clr-blue-grey-700;
}

.card-wrap--aside {
	color: $clr-light-blue-900;
	background-color: $clr-light-blue-100;
}

.card-wrap--notice {
	color: $clr-light-blue-900;
	background-color: $clr-light-blue-100;
}

.card-wrap--copyright {
	color: #FFFFFF;
	background-color: $clr-grey-700;
}

.card-wrap--heading {
	background-color: #FFFFFF;
}

.card-wrap--plain-links a,
.card-wrap--heading a,
.card-wrap--banner-dark a,
.card-wrap--aside a,
.card-wrap--notice a,
.card-wrap--copyright a {
	color: inherit;
	text-decoration: underline;
}

.card-wrap .contacts-buttons {
	white-space: nowrap;
}

.office-hours,
.office-address,
.office-qrcode {
	font-size: 0.750rem;
	line-height: 0.938rem;
}

img.office-qrcode-img {
	width: 7.500rem;
}

.contacts-buttons--facebook,
.contacts-buttons--vk,
.contacts-buttons--instagram,
.contacts-buttons--phone,
.contacts-buttons--map,
.contacts-buttons--web {
	min-width: 1.500rem;
	min-height: 1.500rem;
}

.contacts-buttons--facebook:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--vk:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M20.8,7.74C20.93,7.32 20.8,7 20.18,7H18.16C17.64,7 17.41,7.27 17.28,7.57C17.28,7.57 16.25,10.08 14.79,11.72C14.31,12.19 14.1,12.34 13.84,12.34C13.71,12.34 13.5,12.19 13.5,11.76V7.74C13.5,7.23 13.38,7 12.95,7H9.76C9.44,7 9.25,7.24 9.25,7.47C9.25,7.95 10,8.07 10.05,9.44V12.42C10.05,13.08 9.93,13.2 9.68,13.2C9,13.2 7.32,10.67 6.33,7.79C6.13,7.23 5.94,7 5.42,7H3.39C2.82,7 2.7,7.27 2.7,7.57C2.7,8.11 3.39,10.77 5.9,14.29C7.57,16.7 9.93,18 12.08,18C13.37,18 13.53,17.71 13.53,17.21V15.39C13.53,14.82 13.65,14.7 14.06,14.7C14.36,14.7 14.87,14.85 16.07,16C17.45,17.38 17.67,18 18.45,18H20.47C21.05,18 21.34,17.71 21.18,17.14C21,16.57 20.34,15.74 19.47,14.76C19,14.21 18.29,13.61 18.07,13.3C17.77,12.92 17.86,12.75 18.07,12.4C18.07,12.4 20.54,8.93 20.8,7.74Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--instagram:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--phone:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M6.54,5C6.6,5.89,6.75,6.76,6.99,7.59l-1.2,1.2C5.38,7.59,5.12,6.32,5.03,5H6.54 M16.4,17.02c0.85,0.24,1.72,0.39,2.6,0.45v1.49c-1.32-0.09-2.59-0.35-3.8-0.75L16.4,17.02 M7.5,3H4C3.45,3,3,3.45,3,4c0,9.39,7.61,17,17,17c0.55,0,1-0.45,1-1v-3.49c0-0.55-0.45-1-1-1c-1.24,0-2.45-0.2-3.57-0.57c-0.1-0.04-0.21-0.05-0.31-0.05c-0.26,0-0.51,0.1-0.71,0.29l-2.2,2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2C9.1,8.31,9.18,7.92,9.07,7.57C8.7,6.45,8.5,5.25,8.5,4C8.5,3.45,8.05,3,7.5,3L7.5,3z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--map:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M12,2C8.13,2,5,5.13,5,9c0,5.25,7,13,7,13s7-7.75,7-13C19,5.13,15.87,2,12,2z%20M7,9c0-2.76,2.24-5,5-5s5,2.24,5,5c0,2.88-2.88,7.19-5,9.88C9.92,16.21,7,11.85,7,9z'/><circle%20fill='#{encodecolor($clr-grey-900)}'%20cx='12'%20cy='9'%20r='2.5'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts-buttons--web:after {
	content: "";
	display: inline-block;
	width: 1.500em;
	height: 1.500em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.500em'%20height='1.500em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'/></svg>");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 1.500em 1.500em;
	/*!
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*!
 * expanding layer
 */

.card-wrap .btn-expand-hidden-layer {
	user-select: none;
	cursor: pointer;
}

.card-wrap .btn-expand-hidden-layer:after {
	content: "";
	display: inline-block;
	width: 1.000em;
	height: 1.000em;
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.000em'%20height='1.000em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M16.59,8.59L12,13.17L7.41,8.59L6,10l6,6l6-6L16.59,8.59z'/></svg>");
	background-position: 0 0.125em;
	background-repeat: no-repeat;
	background-size: 1.000em 1.000em;
}

.card-wrap .btn-expand-hidden-layer.is-active:after {
	background-image: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='1.000em'%20height='1.000em'%20viewBox='0%200%2024%2024'%20enable-background='new%200%200%2024%2024'><path%20fill='#{encodecolor($clr-grey-900)}'%20d='M12,8l-6,6l1.41,1.41L12,10.83l4.59,4.58L18,14L12,8z'/></svg>");
}

.card-wrap .holder-hidden-layer {
	max-height: 100%;
	position: relative;
	overflow-y: hidden;
}

.js .card-wrap .holder-hidden-layer {
	max-height: 0;
	overflow: hidden;
}

.card-wrap .holder-hidden-layer.is-active {
	max-height: 100%;
	overflow-y: hidden;
}

.shell-table {
	border: none;
	border-collapse: collapse\;
}

.shell-table td {
	vertical-align: top;
}

/*!
 * disqus
 */

.card-wrap.card-wrap--skeleton #disqus_thread.is-active iframe {
	background-color: #FFFFFF;
	padding-right: 0.938rem;
	padding-left: 0.938rem;
}

/*!
 * override disqus iframe's .highlighted-comment-header top margin
 * an h2 with title is supposed to be above
 */

/* .card-wrap #disqus_thread.is-active iframe {
	margin-top: -24px;
} */

/* .card-wrap.card-wrap--skeleton #disqus_thread.is-active {
	margin-top: 24px;
} */

/*!
 * macy-wrapper
 */
.macy-wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: absolute;
	background-color: transparent;
	/*overflow-y: hidden;*/
}

.macy-grid {
	color: transparent;
	transition: visibility 0s, opacity 0.2s ease;
}

.macy-grid a {
	overflow: hidden;
}

.macy-grid img {
	display: block;
	width: 100%;
	height: auto;
	background-color: $clr-grey-200;
}

/*!
 * share buttons
 */

.btn-toggle-holder-qrcode.mui-btn--fab,
.btn-toggle-holder-mobileapps-buttons.mui-btn--fab,
.btn-toggle-holder-share-buttons.mui-btn--fab,
.btn-toggle-holder-vk-like.mui-btn--fab {
	display: block;
	width: 2.500rem;
	height: 2.500rem;
	position: fixed;
	right: 0.750rem;
	font-size: 1.125rem;
	line-height: 2.500rem;
	color: $clr-grey-700;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	margin: 0;
}

.btn-toggle-holder-qrcode.mui-btn--fab {
	bottom: 13.000rem;
}

.btn-toggle-holder-mobileapps-buttons.mui-btn--fab {
	bottom: 10.000rem;
}

.btn-toggle-holder-share-buttons.mui-btn--fab {
	bottom: 7.000rem;
}

.btn-toggle-holder-vk-like.mui-btn--fab {
	bottom: 4.000rem;
}

.btn-toggle-holder-qrcode.mui-btn--fab:focus,
.btn-toggle-holder-qrcode.mui-btn--fab:hover,
.btn-toggle-holder-qrcode.mui-btn--fab:active,
.btn-toggle-holder-mobileapps-buttons.mui-btn--fab:focus,
.btn-toggle-holder-mobileapps-buttons.mui-btn--fab:hover,
.btn-toggle-holder-mobileapps-buttons.mui-btn--fab:active,
.btn-toggle-holder-share-buttons.mui-btn--fab:focus,
.btn-toggle-holder-share-buttons.mui-btn--fab:hover,
.btn-toggle-holder-share-buttons.mui-btn--fab:active,
.btn-toggle-holder-vk-like.mui-btn--fab:focus,
.btn-toggle-holder-vk-like.mui-btn--fab:hover,
.btn-toggle-holder-vk-like.mui-btn--fab:active {
	background-color: rgba(255, 255, 255, 0.5);
}

.btn-toggle-holder-mobileapps-buttons .ui-icon,
.btn-toggle-holder-qrcode .ui-icon,
.btn-toggle-holder-share-buttons .ui-icon,
.btn-toggle-holder-vk-like .ui-icon {
	/*!
	 * Centering things
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	display: block;
	width: 1.125rem;
	height: 1.125rem;
	margin-top: 0.750rem;
	margin-right: auto;
	margin-left: auto;
}

.btn-toggle-holder-qrcode .ui-icon > *,
.btn-toggle-holder-mobileapps-buttons .ui-icon > *,
.btn-toggle-holder-share-buttons .ui-icon > *,
.btn-toggle-holder-vk-like .ui-icon > * {
	fill: currentColor;
}

@media (max-width: 959px) {
	.btn-toggle-holder-qrcode.mui-btn--fab {
		display: none;
	}
}

@media (max-height: 479px) {
	.btn-toggle-holder-mobileapps-buttons.mui-btn--fab,
	.btn-toggle-holder-share-buttons.mui-btn--fab,
	.btn-toggle-holder-vk-like.mui-btn--fab {
		display: none;
	}
}

@media (max-height: 559px) {
	.btn-toggle-holder-qrcode.mui-btn--fab {
		display: none;
	}
}

.btn-phone,
.btn-skype,
.btn-whatsapp,
.btn-viber,
.btn-telegram,
.btn-email {
	display: block;
	width: 3.000rem;
	height: 3.000rem;
	float: left;
	font-size: 2.000rem;
	line-height: 2.000rem;
	color: #FFFFFF;
	margin: 0;
}

.btn-phone {
	background-color: $color-hex-phone-bg;
}

.btn-skype {
	background-color: $color-hex-skype-bg;
}

.btn-whatsapp {
	background-color: $color-hex-whatsapp-bg;
}

.btn-viber {
	background-color: $color-hex-viber-bg;
}

.btn-telegram {
	background-color: $color-hex-telegram-bg;
}

.btn-email {
	background-color: $color-hex-email-bg;
}

.btn-phone .ui-icon,
.btn-skype .ui-icon,
.btn-whatsapp .ui-icon,
.btn-viber .ui-icon,
.btn-telegram .ui-icon,
.btn-email .ui-icon {
	/*!
	 * Centering things
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	display: block;
	width: 2.000rem;
	height: 2.000rem;
	margin-top: 0.500rem;
	margin-right: auto;
	margin-left: auto;
}

.btn-phone .ui-icon > *,
.btn-skype .ui-icon > *,
.btn-whatsapp .ui-icon > *,
.btn-viber .ui-icon > *,
.btn-telegram .ui-icon > *,
.btn-email .ui-icon > * {
	fill: currentColor;
}

/*!
 * prev and next
 */

.btn-prev-page.mui-btn--fab,
.btn-next-page.mui-btn--fab {
	display: block;
	width: 2.500rem;
	height: 2.500rem;
	font-size: 1.125rem;
	line-height: 2.500rem;
	color: $clr-grey-700;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	/*!
	 * Centering things
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0;
}

.btn-prev-page.mui-btn--fab {
	left: 0.750rem;
}

.btn-next-page.mui-btn--fab {
	right: 0.750rem;
}

.btn-prev-page.mui-btn--fab:focus,
.btn-prev-page.mui-btn--fab:hover,
.btn-prev-page.mui-btn--fab:active,
.btn-next-page.mui-btn--fab:focus,
.btn-next-page.mui-btn--fab:hover,
.btn-next-page.mui-btn--fab:active {
	background-color: rgba(255, 255, 255, 0.5);
}

.btn-prev-page .ui-icon,
.btn-next-page .ui-icon {
	/*!
	 * Centering things
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	display: block;
	width: 1.125rem;
	height: 1.125rem;
	margin-top: 0.750rem;
	margin-right: auto;
	margin-left: auto;
}

.btn-prev-page .ui-icon > *,
.btn-next-page .ui-icon > * {
	fill: currentColor;
}

/*!
 * qrjs2
 */

.holder-location-qrcode {
	display: block;
	visibility: hidden;
	opacity: 0;
	width: 9.000rem;
	height: 9.000rem;
	position: fixed;
	right: 4.000rem;
	bottom: 6.500rem;
	border-radius: 0.125rem;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	transition: visibility 0s, opacity 0.2s ease;
	overflow: hidden;
	/*!
	 * to overlay mui-dropdown__menu
	 */
	z-index: 2;
}

.holder-location-qrcode.is-active {
	visibility: visible;
	opacity: 1;
}

.holder-location-qrcode .qr-code-img,
.holder-location-qrcode img {
	display: block;
	width: 9.000rem;
	height: 9.000rem;
	background-color: transparent;
	background-size: 9.000rem 9.000rem;
	border: 0;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}

/*!
 * holder mobileapps buttons
 */

.holder-mobileapps-buttons {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.000rem;
	position: fixed;
	right: 4.000rem;
	bottom: 9.500rem;
	line-height: 3.000rem;
	background-color: #FFFFFF;
	border-radius: 0.125rem;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	transition: visibility 0s, opacity 0.2s ease;
	z-index: 1;
}

.holder-mobileapps-buttons.is-active {
	visibility: visible;
	opacity: 1;
}

/*!
 * ya-share2
 * yandex.ru/blog/share/kak-uvelichit-shrift-tsifr-sch-tchika#comment-add
 */

/* .ya-share2 {
	box-shadow: 0.133rem 0.133rem 0.133rem 0 $color-rgba-ui-bar-shadow;
} */

.ya-share2 .ya-share2__container_size_m .ya-share2__icon {
	height: 3.000rem;
	width: 3.000rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__counter {
	font-size: 1.250rem;
	line-height: 3.000rem;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__title {
	width: 0;
	height: 0;
	overflow: hidden;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__item {
	margin: 0;
}

.ya-share2 .ya-share2__container_size_m .ya-share2__badge {
	border-radius: 0;
}

/*!
 * holder social buttons
 */

.holder-share-buttons {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	right: 4.000rem;
	bottom: 6.500rem;
	line-height: 3.000rem;
	background-color: #FFFFFF;
	border-radius: 0.125rem;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	transition: visibility 0s, opacity 0.2s ease;
	z-index: 1;
}

.holder-share-buttons.is-active {
	visibility: visible;
	opacity: 1;
}

/*!
 * holder-vk-like
 */

.holder-vk-like {
	display: block;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	height: 3.000rem;
	position: fixed;
	right: 4.000rem;
	bottom: 3.500rem;
	line-height: 0;
	background-color: $color-hex-vk-like-bg;
	border-radius: 0.125rem;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	transition: visibility 0s, opacity 0.2s ease;
	z-index: 1;
}

.holder-vk-like.is-active {
	visibility: visible;
	opacity: 1;
}

.vk-like {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	margin: 0 0 0 0.625rem;
	line-height: 0;
}

/*!
 * @see {@link https://github.com/sksmatt/UItoTop-jQuery-Plugin/}
 */

.ui-totop {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 3.000rem;
	height: 3.000rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 1.500rem;
	line-height: 3.000rem;
	text-align: center;
	text-decoration: none;
	/* color: #FFFFFF;
	background-color: $color-rgba-page-overlay-bg; */
	border: none;
	transition: visibility 0s, opacity 0.2s ease, background-color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.ui-totop .ui-icon {
	/*!
	 * Centering things
	 * @see {@link https://www.w3.org/Style/Examples/007/center.en.html}
	 */
	display: block;
	width: 1.500rem;
	height: 1.500rem;
	margin-top: 0.750rem;
	margin-right: auto;
	margin-left: auto;
}

.ui-totop .ui-icon > * {
	fill: currentColor;
}

.ui-totop.is-active {
	visibility: visible;
	opacity: 1;
}

/* .ui-totop:focus,
.ui-totop:hover,
.ui-totop:active {
	background-color: $color-rgba-page-overlay-bg;
} */

.ui-totop.mui-btn--fab {
	width: 3.000rem;
	height: 3.000rem;
	position: fixed;
	right: 0.500rem;
	bottom: 0.500rem;
	line-height: 3.000rem;
	color: #FFFFFF;
	/* background-color: $clr-grey-600; */
	background-color: rgba($clr-grey-600, 0.5);
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	margin: 0;
}

/*!
 * iframe-lightbox
 * hide default css preloader
 */

.iframe-lightbox .content > .body {
	background-image: none;
}

.iframe-lightbox iframe {
	box-shadow: 0.250rem 0.250rem 0.250rem 0 rgba(3, 3, 3, 0.3);
}

/*!
 * img-lightbox
 * reset for animate.css
 * daneden.github.io/animate.css/
 */

.img-lightbox-container.animated,
.img-lightbox-container img.animated {
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

.img-lightbox-container img {
	box-shadow: 0.250rem 0.250rem 0.250rem 0 rgba(3, 3, 3, 0.3);
}

#sidedrawer,
#header,
#footer,
#page {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s ease;
}

/*!
 * sections
 */

#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	transition: top 0.4s ease-out;
	user-select: none;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
}

#header.is-fixed {

	/* position: fixed; */
	top: 0;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
}

#header.is-hidden {
	top: -3.500rem;
}

@media (orientation:landscape) and (max-height: 480px) {
	#header.is-hidden {
		top: -3.000rem;
	}
}

@media (min-width: 480px) {
	#header.is-hidden {
		top: -4.000rem;
	}
}

#content-wrapper {
	min-height: 100%;
	overflow-x: hidden;
	/* margin-left: 0;
	transition: margin-left 0.2s; */
	/* sticky bottom */
	/* box-sizing: border-box;
	margin-bottom: -3.500rem;
	padding-bottom: 3.500rem; */
}

#content-wrapper .mui-container-fluid {
	padding-left: 0;
	padding-right: 0;
}

@media (orientation: landscape) and (max-height: 480px) {
	#content-wrapper .mui-container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 480px) {
	#content-wrapper .mui-container-fluid {
		padding-left: 0.938rem;
		padding-right: 0.938rem;
	}
}

#footer {
	color: $clr-grey-700;
	text-align: center;
	/* background-color: $clr-light-blue-800;
	border-top: 0.063rem solid $clr-light-blue-800; */
	user-select: none;
	padding: 0 0 0.938rem 0;
	/*!
	 * @see {@link https://css-tricks.com/couple-takes-sticky-footer/}
	 * Sticky Footer
	 * The position relative on body is required to make it work.
	 */
	/* height: 3.500rem; */
	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 0; */
}

#footer a {
	color: inherit;
	text-decoration: none;
}

#footer a:focus,
#footer a:hover,
#footer a:active {
	text-decoration: underline;
}

.copyright,
#footer .copyright {
	font-size: 0.813rem;
	line-height: 1.188rem;
}

/*!
 * sidedrawer
 */

#sidedrawer {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 15.000rem;
	left: -15.000rem;
	overflow: auto;
	z-index: 2;
	color: $clr-grey-700;
	background-color: #FFFFFF;
	transition: transform 0.2s;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.16), 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
	user-select: none;
}

#sidedrawer-brand {

	/* 119x56 */
	height: 3.500rem;
	padding-left: 1.250rem;
}

@media (orientation:landscape) and (max-height: 480px) {
	#sidedrawer-brand {

		/* 102x48 */
		height: 3.000rem;
	}
}

@media (min-width: 480px) {
	#sidedrawer-brand {

		/* 136x64 */
		height: 4.000rem;
	}
}

#sidedrawer-brand .site-logo {
	position: absolute;
}

#sidedrawer ul {
	list-style: none;
}

#sidedrawer > ul {
	padding-left: 0;
	margin: 0;
}

#sidedrawer > ul > li:first-child {
	padding-top: 0;
}

#sidedrawer li a,
#sidedrawer li > strong {
	display: block;
	height: 3.000rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.875rem;
	line-height: 3.000rem;
	text-decoration: none;
	border: none;
	padding: 0 1.250rem;
	cursor: pointer;
}

#sidedrawer li a:focus,
#sidedrawer li a:hover,
#sidedrawer li a:active,
#sidedrawer li a.is-active,
#sidedrawer li > strong:focus,
#sidedrawer li > strong:hover,
#sidedrawer li > strong:active {
	text-decoration: none;
	background-color: $custom-color-highlight-hover;
}

#sidedrawer li strong + ul > li a {
	padding-left: 0;
}

#sidedrawer li strong + ul > li a {
	background-color: transparent;
}

#sidedrawer li strong + ul > li a:focus,
#sidedrawer li strong + ul > li a:hover,
#sidedrawer li strong + ul > li a:active {
	text-decoration: none;
	background-color: transparent;
}

#sidedrawer.active {
	transform: translate(15.000rem);
}

#sidedrawer .mui-appbar__ui-button--menu {
	position: relative;
	float: left;
	color: inherit;
}

#sidedrawer .copyright {
	font-size: 0.750rem;
	line-height: 1.125rem;
	padding: 0.938rem 1.250rem;
	margin: 0;
}

#sidedrawer .copyright a {
	text-decoration: none;
}

#sidedrawer .mui-divider {
	background-color: currentColor;
}

@media (min-width: 768px) {

	/* #header {
		left: 15.000rem;
	} */
	#sidedrawer {
		transform: translate(15.000rem);
	}

	/* #content-wrapper {
		margin-left: 15.000rem;
	} */
	/* #footer {
		margin-left: 15.000rem;
	} */
	body.hide-sidedrawer #header {
		left: 0;
	}

	body.hide-sidedrawer #sidedrawer {
		transform: translate(0);
	}

	body.hide-sidedrawer #content-wrapper {
		margin-left: 0;
	}

	body.hide-sidedrawer #footer {
		margin-left: 0;
	}
}

/*!
 * make appbar dark
 */

.mui-appbar {
	color: #FFFFFF;
	background-color: $ButtonBackgroundDark;
}

.mui-appbar .mui-dropdown__menu > li > a {
	color: #FFFFFF;
	background-color: $ButtonBackgroundDark;
}

.mui-appbar .mui-dropdown__menu > li > a:focus,
.mui-appbar .mui-dropdown__menu > li > a:hover,
.mui-appbar .mui-dropdown__menu > li > a:active {
	color: $ButtonBackgroundDark;
	background-color: $custom-color-highlight-hover;
}

/*!
 * make sidedrawer dark
 */

#sidedrawer {
	color: #FFFFFF;
	background-color: $clr-grey-800;
}

#sidedrawer li a:focus,
#sidedrawer li a:hover,
#sidedrawer li a:active,
#sidedrawer li a.is-active,
#sidedrawer li > strong:focus,
#sidedrawer li > strong:hover,
#sidedrawer li > strong:active {
	color: $clr-grey-800;
}
